/* =============客製化工具=============*/

.ri-container{
  @media (min-width: 1440px) {
    max-width: 1260px;
  }
}
.ri-layout{
  margin-top: 90px;
  @media (min-width: 992px) and (max-width: 1439.98px) {
    margin-top: 69px;
  }
  @media (max-width: 991.98px){
    margin-top: 66px;
  }
}
.ri-section{
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 767.98px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ri-button{
  font-size: 20px;
  display: inline-block;
  min-width: 150px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #3D3D3D;
  background-color: transparent;
  color: #3D3D3D;
  text-align: center;
  &:hover{
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid $primary;
    background-color: $primary;
    color: #FFF;
  }
  @media (max-width: 1199.98px) {
    font-size: 16px;
  }
  @media (max-width: 767.98px) {
    font-size: 14px;
    min-width: 100px;
  }
}
.ri-button--white{
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.ri-button--blue{
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;
}
.ri-button--disable{
  border: 2px solid rgb(180, 180, 180) !important;
  color: rgb(105, 105, 105);
  background-color: rgb(180, 180, 180) !important;
  &:hover{
    color: rgb(105, 105, 105);
  }
}


.ri-mainTitle{
  text-align: center;
  color: $primary;
  font-size: 50px;
  margin-bottom: 60px;
  span{
    display: inline-block;
    padding-bottom: 8px;
    border-color: $primary;
    border-bottom-style: double;
  }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    font-size: 32px;
    margin-bottom: 52px;
  }
  @media (min-width: 768px) and (max-width: 1199.98px){
    font-size: 28px;
    margin-bottom: 48px;
  }
  @media (max-width: 767.98px) {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.ri-subTitle{
  transition: 0.5s;
  border-bottom: 2px solid;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 26px;
  @media (min-width: 992px) and (max-width: 1439.98px) {
    font-size: 24px;
    margin-bottom: 30px;
  }
  @media  (max-width: 991.98px){
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.ri-subTitle--content{
  font-size: 40px;
  color: $primary;
  margin-bottom: 40px;
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    font-size: 32px;
    margin-bottom: 36px;
  }
  @media (min-width: 768px) and (max-width: 1199.98px){
    font-size: 28px;
    margin-bottom: 28px;
  }
  @media (max-width: 767.98px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.ri-important{
  padding: 20px;
  background-color: #4B6367;
  color: #fff;
  p:last-child{
    margin-bottom: 0;
  }
}

.ri-more{
  margin-top: 60px;
  display: block;
  text-align: right;
  @media (max-width: 767.98px) {
    margin-top: 20px;
  }
}
.ri-more__link{
  cursor: pointer;
  text-align: left;
  display: inline-block;
  position: relative;
  letter-spacing: 5px;
  color:#3D3D3D;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: 0.4s;
  &:hover{
    color: $primary;
    text-decoration:none;
    &::after{
      transition: 0.4s;
      width: 100px;
    }
    &::before{
      transition: 0.4s;
    }
  }
  &::after{
    transition: 0.4s;
    width: 80px;
    left: 0px;
    content: "";
    display: block;
    border-bottom: 1px solid;
  }
  &::before{
    transition: 0.4s;
    position: absolute;
    width: 15px;
    right: 0px;
    bottom: 0px;
    content: "";
    display: block;
    border-bottom: 1px solid ;
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  @media (max-width: 767.98px) {
    &:hover{
      color: $primary;
      text-decoration:none;
      &::after{
        transition: 0.4s;
        width: 90px;
      }
    }
    &::after{
      width: 75px;
    }
  }
}

.ri-breadCrumb{
  padding: 60px 0 40px;
  font-size: 26px;
  a{
    color: $dark;
    text-decoration: none;
    &:last-child{
      font-size: 18px;
      color: $primary;
    }
    &:first-child{
      font-size: 26px;

    }
    &:hover{
      color: $primary;
    }
  }
  .bi-chevron-right{
    color: $primary;
  }
  .ri-mainTitle{
    margin-bottom: 0;
  }
}
.ri-pagination{
  margin-top: 60px;
  margin-bottom: 10px;
  ul{
    display: flex;
    justify-content: center;
    .page-link{
      border: 1px solid $dark;
      color: $dark;
      &:hover{
        color: #fff;;
        border: 1px solid rgba($primary,0.5);
        background-color: rgba($primary,0.5);
      }
    }
    .disabled .page-link{
      border: 1px solid $dark;
      color: $dark;
    }
  }
  @media (max-width: 1199.98px){
    margin-top: 40px;
  }
  @media (max-width: 767.98px) {
    margin-top: 20px;
  }
}

.ri-a{
  color: unset;
  text-decoration: none;
  &:hover{
    color: unset;
    text-decoration: none;
  }
}