<template>
  <div class="container ri-container">
    <div class="d-none d-md-block ri-breadCrumb">
      <nuxt-link v-if="classTitle.Slug === 'threeD'" :to="localePath('/#ThreeDSpace')">
        {{ languageTitle.Name }}
      </nuxt-link>
      <nuxt-link v-else-if="classTitle.Slug === 'product'" :to="localePath('/#ProductAndServices')">
        {{ languageTitle.Name }}
      </nuxt-link>
      <nuxt-link v-else-if="classTitle.Slug === 'download'" :to="localePath('/#Download')">
        {{ languageTitle.Name }}
      </nuxt-link>
      <nuxt-link v-else :to="localePath(`/${classTitle.Slug}`)">
        {{ languageTitle.Name }}
      </nuxt-link>
      <b-icon icon="chevron-right" aria-hidden="true" />
      <nuxt-link to="">
        {{ singleData.Name }}
      </nuxt-link>
    </div>
    <div class="d-block d-md-none ri-breadCrumb">
      <h2 class="ri-mainTitle">
        <span>{{ classTitle.Name }}</span>
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    classTitle: {
      type: Object,
      default: () => ({})
    },
    languageTitle: {
      type: Object,
      default: () => ({})
    },
    singleData: {
      type: Object,
      default: null
    }
  }
}
</script>
