<template>
  <div v-show="loadShow" class="ri-footer">
    <div class="container">
      <div class="ri-footer__info">
        <div class="ri-footer__info__logo">
          <img :src="$store.state.Meta.LanguageData[$i18n.locale].Favicon || $store.state.Meta.Favicon" :alt="$store.state.Meta.LanguageData[$i18n.locale].Title || $store.state.Meta.Title">
        </div>
        <div class="ri-footer__info__map">
          <h4> {{ $t('footer.siteMap') }}</h4>
          <ul>
            <!-- <li>
              <nuxt-link :to="localePath('/threeDSpace')">
                {{ $t('navigation.3DSpace') }}
              </nuxt-link>
            </li> -->
            <li>
              <nuxt-link :to="localePath('/aboutUS')">
                {{ $t('navigation.about') }}
              </nuxt-link>
            </li>
            <li>
              <nuxt-link :to="localePath('/news')">
                {{ $t('navigation.news') }}
              </nuxt-link>
            </li>
            <li>
              <nuxt-link :to="localePath('/productBefore')">
                {{ $t('navigation.product') }}
              </nuxt-link>
            </li>
            <li>
              <nuxt-link :to="localePath('/downloadSystemMenu')">
                {{ $t('navigation.download') }}
              </nuxt-link>
            </li>
            <li>
              <nuxt-link :to="localePath('/contact')">
                {{ $t('navigation.contact') }}
              </nuxt-link>
            </li>
            <li>
              <ul class="ri-footer__info__map__group">
                <li>
                  <a href="javascript:void(0)" @click="$i18n.setLocale('zh-tw')">
                    {{ $t('footer.language.zh') }}
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" @click="$i18n.setLocale('en-us')">
                    {{ $t('footer.language.en') }}
                  </a>
                </li>
                <!-- <li>
                  <a href="javascript:void(0)" @click="$i18n.setLocale('ja-jp')">
                    {{ $t('footer.language.ja') }}
                  </a>
                </li> -->
              </ul>
            </li>
          </ul>
        </div>
        <div class="ri-footer__info__contact">
          <h4 class="d-none d-md-block">
            {{ $t('navigation.contact') }}
          </h4>
          <h4 class="d-block d-md-none">
            {{ Contact.CompanyName }}
          </h4>
          <ul>
            <li class="ri-footer__info__contact__address">
              {{ $t('footer.address') }}: {{ Contact.Address }}
            </li>
            <li>
              <a href="tel:+886-2-6630-5187">{{ $t('footer.tel') }}: {{ Contact.Tel }}</a>
            </li>
            <li class="ri-footer__info__contact__email">
              <a :href="Contact.Email">{{ $t('footer.email') }}: {{ Contact.Email }}</a>
            </li>
            <li>{{ $t('footer.fax') }}: {{ Contact.Fax }}</li>
          </ul>
        </div>
        <div class="ri-footer__info__media">
          <ul>
            <li>
              <a v-show="InstagramLink" class="ri-a" :href="InstagramLink" target="_blank">
                <span class="icon-instagram" />
              </a>
            </li>
            <li>
              <a v-show="TwitterLink" class="ri-a" :href="TwitterLink" target="_blank">
                <span class="icon-twitter" />
              </a>
            </li>
            <li>
              <a v-show="FBLink" class="ri-a" :href="FBLink" target="_blank">
                <span class="icon-facebook" />
              </a>
            </li>
            <li>
              <a class="ri-a" href="/">
                <span class="icon-web" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="ri-footer__copyright">
        <p>Copyright © {{ $store.state.Meta.LanguageData[$i18n.locale].Title || $store.state.Meta.Title }} All Rights Reserved.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      loadShow: false,
      FBLink: '',
      TwitterLink: '',
      InstagramLink: '',
      Contact: {}
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.LoadAllLanguage()
    }
  },
  mounted () {
    this.loadShow = true
    this.LoadAllLanguage()

    this.FBLink = this.$store.state.Social.find((item) => { return item.Name === 'Facebook' }).Link
    this.TwitterLink = this.$store.state.Social.find((item) => { return item.Name === 'Twitter' }).Link
    this.InstagramLink = this.$store.state.Social.find((item) => { return item.Name === 'Instagram' }).Link
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    },
    LoadAllLanguage () {
      this.Contact = this.DetermineLanguage(this.$store.state.Contact)
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";

.ri-footer{
  background-color: #3D3D3D;
}
.ri-footer__info{
  display: flex;
  justify-content: space-between;
  color: #fff;
  @media (max-width: 767.98px) {
    display: block;
  }
}
.ri-footer__info__logo{
  flex-shrink: 0;
  width: 200px;
  @media (min-width: 1200px) and (max-width: 1599.98px) {
    width: 150px;
  }
  @media (max-width: 767.98px) {
    margin: 0 auto -40px;
  }
}
.ri-footer__info__map{
  padding: 40px 0px;
  max-width: 600px;
  h4{
    font-size: 24px;
    margin-bottom: 20px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    li{
      width: 25%;
      margin-bottom: 10px;
      a{
        color: #fff;
        &:hover{
          color: $primary;
        }
      }
    }
  }
  .ri-footer__info__map__group{
    flex-wrap: nowrap;
    li{
      width: auto;
      &:last-child{
        &:after{
          display: none;
        }
      }
      &:after{
        content: "/";
        margin: 0 2px;
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1599.98px) {
    h4{
      font-size: 22px;
      margin-bottom: 20px;
    }
    ul{
      li{
        width: 33.3%;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199.98px){
    h4{
      font-size: 22px;
      margin-bottom: 20px;
    }
    ul{
      li{
        width: 50%;
      }
    }
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}
.ri-footer__info__contact{
  padding: 40px 0px;
  max-width: 600px;
  h4{
    font-size: 24px;
    margin-bottom: 20px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    li{
      margin-bottom: 10px;
      a{
        color: #fff;
        &:hover{
          color: $primary;
        }
      }
    }
  }
  .ri-footer__info__contact__address,.ri-footer__info__contact__email{
    flex-grow: 1;
  }
  @media (min-width: 1200px) and (max-width: 1599.98px) {
    h4{
      font-size: 22px;
      margin-bottom: 20px;
    }
    ul{
      display: block;
    }
  }
  @media  (max-width: 1199.98px){
    h4{
      font-size: 22px;
      margin-bottom: 20px;
    }
    ul{
      display: block;
    }
  }
  @media (max-width: 767.98px) {
    padding: 20px 0px 20px;
    text-align: center;
  }
}
.ri-footer__info__media{
  padding: 40px 0px;
  ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    margin-bottom: 0px;
    li{
      padding: 0px 8px;
    }
  }
  @media (max-width: 991.98px){
    ul{
      list-style: none;
      padding-left: 0px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0px;
      li{
        width: 100%;
        text-align: right;
        padding: 0px 8px;
      }
    }
  }
  @media (max-width: 767.98px) {
    padding: 0px 0px 20px;
    ul{
      justify-content: center;
      li{
        width: auto;
      }
    }
  }
}

.ri-footer__copyright{
  border-top: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  @media (max-width: 767.98px) {
    padding-bottom: 20px;
  }
}
.ri-a{
  &:hover{
    color: $primary;
  }
}
</style>
