<template>
  <b-navbar class="ri-header" toggleable="xl" type="light" variant="light">
    <div class="container">
      <b-navbar-brand :to="localePath('/')" class="ri-header__logo">
        <h1><img src="/image/P-WAVER-Logo.svg" alt="P-WAVER" class="mr-3">P-WAVER</h1>
      </b-navbar-brand>
      <b-navbar-toggle class="ri-header__button" target="nav-collapse">
        <span class="icon-Menu-1" />
        <span class="icon-Menu" />
      </b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto py-4">
          <b-nav-item :to="localePath('/')">
            <span>{{ $t('navigation.index') }}</span>
          </b-nav-item>
          <!-- <b-nav-item-dropdown :text="$t('navigation.3DSpace')">
            <template v-for="(content, index) in $store.state.GlobalArticleData.threeD">
              <b-dropdown-item :key="index" :to="localePath(`/${content.Slug}`)">
                <span>{{ content.LanguageData[$i18n.locale].Name }}</span>
              </b-dropdown-item>
            </template>
          </b-nav-item-dropdown> -->
          <b-nav-item-dropdown :text="$t('navigation.about')">
            <template v-for="(content, index) in $store.state.GlobalArticleData.aboutUS">
              <b-dropdown-item :key="index" :to="localePath(`/aboutUS#ri-${content.Slug}`)">
                <span>{{ content.LanguageData[$i18n.locale].Name }}</span>
              </b-dropdown-item>
            </template>
          </b-nav-item-dropdown>
          <b-nav-item :to="localePath('/news')">
            <span>{{ $t('navigation.news') }}</span>
          </b-nav-item>
          <b-nav-item-dropdown :text="$t('navigation.product')">
            <template v-for="(content, index) in $store.state.GlobalArticleData.product">
              <b-dropdown-item :key="index" :to="localePath(`/${content.Slug}`)">
                <span>{{ content.LanguageData[$i18n.locale].Name }}</span>
              </b-dropdown-item>
            </template>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown :text="$t('navigation.download')">
            <b-dropdown-item :to="localePath('/downloadSystemMenu')">
              <span>{{ $t('download.downloadSystemMenu.name') }}</span>
            </b-dropdown-item>
            <b-dropdown-item :to="localePath('/downloadTestData')">
              <span>{{ $t('download.downloadTestData.name') }}</span>
            </b-dropdown-item>
            <b-dropdown-item :to="localePath('/downloadDetect')">
              <span>{{ $t('download.downloadDetect.name') }}</span>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item :to="localePath('/contact')">
            <span>{{ $t('navigation.contact') }}</span>
          </b-nav-item>
          <b-navbar-nav class="ri-header__language">
            <b-nav-item @click="$i18n.setLocale('zh-tw')">
              <span>{{ $t('footer.language.zh') }}</span>
            </b-nav-item>
            <b-nav-item @click="$i18n.setLocale('en-us')">
              <span>{{ $t('footer.language.en') }}</span>
            </b-nav-item>
            <!-- <b-nav-item @click="$i18n.setLocale('ja-jp')">
              <span>{{ $t('footer.language.ja') }}</span>
            </b-nav-item> -->
          </b-navbar-nav>
        </b-navbar-nav>
      </b-collapse>
    </div>
  </b-navbar>
</template>

<script>
export default {
  data () {
    return {}
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";
// bootstrap vue
  .navbar-light{
    .navbar-nav{
      .nav-link{
        color: $dark;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        &:hover, &:focus{
          color: $info;
          span{
            position: relative;
            display:inline-block;
            &::before{
              content: "";
              width: 100%;
              position: absolute;
              border-bottom: 2px solid $info;
              left: 50%;
              transform: translate(-50%);
              bottom: -2px;
            }
          }
        }
      }
      @media (max-width: 1199.98px) {
        text-align: center;
        .nav-link{
          margin: 5px 0px;
        }
      }
      @media (max-width: 767.98px) {
        .nav-link{
          margin: 2px 0px;
        }
      }
    }
  }
  .navbar-collapse{
    min-height: 0vh !important;
    transition: 0.5s;
    &.show{
      min-height: 100vh !important;
    }
  }
  .dropdown-menu{
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    border: none;
    box-shadow: $box-shadow;
    padding-bottom: 20px;
    margin-top: 25px;
    .dropdown-item{
      font-weight: 300;
      position: relative;
      &:hover{
        color: $info;
        background: transparent;
        span{
          position: relative;
          display:inline-block;
          &::before{
            content: "";
            width: 100%;
            position: absolute;
            border-bottom: 2px solid $info;
            left: 50%;
            transform: translate(-50%);
            bottom: -2px;
          }
        }
      }

    }
    @media (min-width: 1440px) and (max-width: 1599.98px) {
      font-size: 20px;
    }
    @media (min-width: 1200px) and(max-width: 1439.98px) {
      font-size: 16px;
      margin-top: 18px;
    }
    //手機
    @media (max-width: 1199.98px) {
      left: 0px;
      font-size: 20px;
      transform: translate(0%);
      box-shadow: none;
      background: rgba($info,0.2);
      margin-top: 5px;
    }
    @media (max-width: 767.98px) {
      font-size: 16px;
    }
  }
</style>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-header{
  // min-height: 99px;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1px 1rem;
  font-size: 26px;
  box-shadow: $box-shadow;
  z-index: 99;
  @media (min-width: 1440px) and (max-width: 1599.98px) {
    font-size: 22px;
  }
 @media (min-width: 1200px) and (max-width: 1439.98px) {
    font-size: 18px;
  }
 @media (min-width: 768px) and (max-width: 1200px){
    font-size: 22px;
  }
  @media (max-width: 767.98px) {
    font-size: 18px;
  }
}
.ri-header__button{
  color: $dark;
  border: none;
  &:hover{
    color: $info;
  }
  .icon-Menu{
    display: none;
  }
  &[aria-expanded="true"]{
    .icon-Menu-1{
      display: none;
    }
    .icon-Menu{
      display: block;
    }
  }
}
.ri-header__logo{
  padding: 0;
  font-size: 0px;
  width: 172px;
  white-space: nowrap;
  overflow: hidden;
  h1{
    margin-bottom: 0;
  }
  img{
    width: 100%;
  }
  @media (max-width: 1439.98px) {
    width: 120px;
  }
  @media (max-width: 991.98px){
    width: 100px;
  }
}
.ri-header__language{
  display: flex;
  .nav-item:last-child{
    .nav-link{
      &::after{
        display: none;
      }
    }
  }
  .nav-link{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    &:hover::before{
      width: calc(100% - 20px);
    }
    &::after{
      content: "/";
      position: absolute;
      right: -4px;
    }
  }
  @media (max-width: 1200px){
    flex-direction: row;
    justify-content: center;
  }
}
</style>
