<template>
  <div v-show="loading" class="loading-page">
    <div class="load-wrapp">
      <div class="load-circle spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="load-word">
        <div class="l-1 letter">
          L
        </div>
        <div class="l-2 letter">
          o
        </div>
        <div class="l-3 letter">
          a
        </div>
        <div class="l-4 letter">
          d
        </div>
        <div class="l-5 letter">
          i
        </div>
        <div class="l-6 letter">
          n
        </div>
        <div class="l-7 letter">
          g
        </div>
        <div class="l-8 letter">
          .
        </div>
        <div class="l-9 letter">
          .
        </div>
        <div class="l-10 letter">
          .
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      loading: {
        type: Boolean,
        default: true
      }
    },
    watch: {
      loading: { // 深度监听，可监听到对象、数组的变化
        deep: true,
        immediate: true,
        handler (newV, oldV) {
          // console.log(newV)
        }
      }
    }
  }
</script>

<style lang="scss">

.loading-page {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  transition: 0.5s;
  opacity: 1;
}

.loading-page--opacity{
  opacity: 0;
  transition: 0.5s;
}
.load-wrapp{
  position: relative;
  top: 200px;
}
.load-word{
  color: #00B3B6;
  display: flex;
  justify-content: center;
  align-items: center;
  // & .letter {
  //   animation-name: loading;
  //   animation-duration: 1.6s;
  //   animation-iteration-count: infinite;
  //   animation-direction: linear;
  // }
  .l-1 {
    animation-delay: 0.48s;
  }
  .l-2 {
    animation-delay: 0.6s;
  }
  .l-3 {
    animation-delay: 0.72s;
  }
  .l-4 {
    animation-delay: 0.84s;
  }
  .l-5 {
    animation-delay: 0.96s;
  }
  .l-6 {
    animation-delay: 1.08s;
  }
  .l-7 {
    animation-delay: 1.2s;
  }
  .l-8 {
    animation-delay: 1.32s;
  }
  .l-9 {
    animation-delay: 1.44s;
  }
  .l-10 {
    animation-delay: 1.56s;
  }
}
.load-circle{
  border: 4px solid #00B3B6;
  margin-bottom: 10px;
  border-right-color: transparent;
}
</style>
