<template>
  <div class="ri-scrollTop" @click="scrollToTop()">
    <div class="ri-scrollTop__bg" />
    <b-icon class="ri-scrollTop__arrow" icon="chevron-up" aria-hidden="true" />
  </div>
</template>

<script>
export default {
  data () {
    return {
      bottom: 20
    }
  },
  methods: {
    scrollToTop () {
      // 至頂端
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";

.ri-scrollTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 98;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  font-size: 36px;
  &:hover{
    .ri-scrollTop__bg{
      transition: 0.5s;
      opacity: 0.5;
    }
    .ri-scrollTop__arrow{
      transition: 0.5s;
      transform: translate(-50%,-60%);
    }
  }
  .ri-scrollTop__bg{
    width: 70px;
    height: 70px;
    background-color: $primary;
    box-shadow: $box-shadow;
    border-radius: 50%;
    transition: 0.5s;
  }
  .ri-scrollTop__arrow{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
  }
}
</style>
