<template>
  <div class="">
    <client-only>
      <div data-aos="fade-up" class="ri-space">
        <div class="position-relative">
          <div class="ri-space__carousel container-fluid">
            <div class="row">
              <div class="col-12 col-xl-6 pl-0 pr-0 pr-xl-3">
                <b-carousel
                  id="carousel-1"
                  v-model="slide"
                  :interval="4000"
                  controls
                  indicators
                  background="#e6e9ed"
                  @sliding-start="onSlideStart"
                  @sliding-end="onSlideEnd"
                >
                  <b-carousel-slide
                    v-for="(carouselItem,index) in languageData.Carousel"
                    :key="carouselItem.Alt + index"
                    :img-src="carouselItem.URL"
                    :img-alt="carouselItem.Alt"
                  />
                </b-carousel>
              </div>
            </div>
          </div>
          <div class="ri-space__text container ri-container">
            <div class="row justify-content-end">
              <div class="ri-space__text__content col-12 col-xl-6">
                <h2 class="ri-subTitle ri-subTitle--content">
                  {{ languageData.Name }}
                </h2>
                <div>
                  <template v-if="singleData.EnableResponseContent === 1">
                    <div class="d-none d-lg-block ck-content" v-html="languageData.ResponseData.Web.Content" />
                    <div class="d-block d-lg-none ck-content" v-html="languageData.ResponseData.Mobile.Content" />
                  </template>
                  <template v-else-if="singleData.EnableResponseContent === 0">
                    <div class="ck-content" v-html="languageData.Content" />
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </client-only>
    <template slot="placeholder">
      <div class="ri-space d-none">
        <div class="position-relative">
          <div class="ri-space__carousel container-fluid">
            <div class="row">
              <div class="col-12 col-xl-6 pl-0 pr-0 pr-xl-3">
                <b-carousel
                  id="carousel-1"
                  v-model="slide"
                  :interval="4000"
                  controls
                  indicators
                  background="#e6e9ed"
                  @sliding-start="onSlideStart"
                  @sliding-end="onSlideEnd"
                >
                  <b-carousel-slide
                    v-for="(carouselItem,index) in languageData.Carousel"
                    :key="carouselItem.Alt + index"
                    :img-src="carouselItem.URL"
                    :img-alt="carouselItem.Alt"
                  />
                </b-carousel>
              </div>
            </div>
          </div>
          <div class="ri-space__text container ri-container">
            <div class="row justify-content-end">
              <div class="ri-space__text__content col-12 col-xl-6">
                <h2 class="ri-subTitle ri-subTitle--content">
                  {{ languageData.Name }}
                </h2>
                <div>
                  <template v-if="singleData.EnableResponseContent === 1">
                    <div class="d-none d-lg-block ck-content" v-html="languageData.ResponseData.Web.Content" />
                    <div class="d-block d-lg-none ck-content" v-html="languageData.ResponseData.Mobile.Content" />
                  </template>
                  <template v-else-if="singleData.EnableResponseContent === 0">
                    <div class="ck-content" v-html="languageData.Content" />
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    singleData: {
      type: Object,
      default: null
    },
    languageData: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-space{
  margin-bottom: 140px;
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    margin-bottom: 80px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    margin-bottom: 60px;
  }
  @media(max-width: 991.98px){
    margin-bottom: 60px;
  }
}
.ri-space__carousel{
  position: absolute;
  .carousel-inner{
    max-height: 540px;
    overflow: hidden;
  }
  .carousel-item{
    height: 0px;
    padding-bottom: 75%;
    img{
      position: absolute;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  @media (max-width: 1199.98px){
    position: relative;
    margin-bottom: 80px;
  }
}
.ri-space__text{
  min-height: 540px;
  .ri-space__text__content{
    padding-left: 44px;
  }
  @media (max-width: 1199.98px){
    min-height: auto;
    .ri-space__text__content{
      padding-left: 16px;
    }
  }
}
// bootstrap
.ri-space{
  .carousel-control-next{
    display: block;
    position: absolute;
    top: auto;
    bottom: -40px;
    color: $dark;
    right: 150px;
    z-index: 98;
    .carousel-control-next-icon{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%3D3D3D' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    }
  }
  .carousel-control-prev{
    display: block;
    position: absolute;
    top: auto;
    bottom: -40px;
    left: 150px;
    z-index: 98;
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%3D3D3D' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
    }
  }
  .carousel-indicators{
    bottom: -40px;
    margin-bottom: 0;
    li{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color:  $dark;
      &.active{
        background-color: $primary;
      }
      @media (max-width: 767.98px) {
        width: 10px;
        height: 10px;
      }
    }
  }
  @media (max-width: 767.98px){
    .carousel-control-next{
      right: 100px;
    }
    .carousel-control-prev{
      left: 100px
    }
  }
}
</style>
