<template>
  <div class="ri-aboutAndNews ri-section">
    <div class="container">
      <div class="ri-aboutAndNews__group">
        <client-only>
          <div data-aos="fade-right" class="ri-about">
            <h2 class="ri-mainTitle">
              <span>{{ $t('navigation.about') }}</span>
            </h2>
            <ul>
              <li v-for="(data, index) in $store.state.GlobalArticleData.aboutUS" :key="index" class="ri-about__card">
                <nuxt-link class="ri-a" :to="localePath(`/aboutUS#ri-${data.Slug}`)">
                  <span :class="data.Variable.Icon" />
                  <h3>{{ data.LanguageData[$i18n.locale].Name || data.Name }}</h3>
                </nuxt-link>
              </li>
            </ul>
          </div>
        </client-only>
        <template slot="placeholder">
          <div class="ri-about d-none">
            <h2 class="ri-mainTitle">
              <span>{{ $t('navigation.about') }}</span>
            </h2>
            <ul>
              <li v-for="(data, index) in $store.state.GlobalArticleData.aboutUS" :key="index" class="ri-about__card">
                <nuxt-link class="ri-a" :to="localePath(`/aboutUS#ri-${data.Slug}`)">
                  <span :class="data.Variable.Icon" />
                  <h3>{{ data.LanguageData[$i18n.locale].Name || data.Name }}</h3>
                </nuxt-link>
              </li>
            </ul>
          </div>
        </template>
        <div class="ri-line" />
        <client-only>
          <div data-aos="fade-left" class="ri-news">
            <div class="">
              <h2 class="ri-mainTitle">
                <span>{{ $t('navigation.news') }}</span>
              </h2>
              <ul>
                <li v-for="(data, index) in $store.state.GlobalArticleData.news" :key="index" class="ri-news__list">
                  <nuxt-link class="ri-a" :to="localePath(`/news/${data.Slug}`)">
                    <p>
                      <span class="date">{{ $dayjs(data.CreateTime).format('YYYY-MM-DD') }}</span>
                      <span>{{ data.LanguageData[$i18n.locale].Name || data.Name }}</span>
                    </p>
                    <a class="ri-more" href="javascript:;">
                      <span class="ri-more__link">
                        {{ $t('global.more') }}
                      </span>
                    </a>
                  </nuxt-link>
                </li>
              </ul>
            </div>
            <div class="text-center text-md-right">
              <nuxt-link class="ri-button ri-button--blue" :to="localePath('/news')">
                {{ $t('global.viewDetail') }}
              </nuxt-link>
            </div>
          </div>
        </client-only>
        <template slot="placeholder">
          <div class="ri-news d-none">
            <div class="">
              <h2 class="ri-mainTitle">
                <span>{{ $t('navigation.news') }}</span>
              </h2>
              <ul>
                <li v-for="(data, index) in $store.state.GlobalArticleData.news" :key="index" class="ri-news__list">
                  <nuxt-link class="ri-a" :to="localePath(`/news/${data.Slug}`)">
                    <p>
                      <span class="date">{{ $dayjs(data.CreateTime).format('YYYY-MM-DD') }}</span>
                      <span>{{ data.LanguageData[$i18n.locale].Name || data.Name }}</span>
                    </p>
                    <a class="ri-more" href="javascript:;">
                      <span class="ri-more__link">
                        {{ $t('global.more') }}
                      </span>
                    </a>
                  </nuxt-link>
                </li>
              </ul>
            </div>
            <div class="text-center text-md-right">
              <nuxt-link class="ri-button ri-button--blue" :to="localePath('/news')">
                {{ $t('global.viewDetail') }}
              </nuxt-link>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";

// *{
//   outline: 1px solid red;
// }
.ri-aboutAndNews{
  background-color: #F3F3F3;
}
.ri-mainTitle{
  text-align: left;
  color: $blue;
  span{
    border-color: $blue;
  }
  @media (max-width: 767.98px) {
    text-align: center;
  }
}
.ri-aboutAndNews__group{
  display: flex;
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
  }
}

.ri-about{
  color: $blue;
  flex: 1;
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: -40px;
  }
  @media (max-width: 767.98px) {
    flex: auto;
    margin-bottom: 60px;
  }
}
.ri-about__card{
  width: calc(50% - 20px);
  margin-bottom: 40px;
  &:nth-child(odd){
    margin-right: 20px;
  }
  &:nth-child(even){
    margin-left: 20px;
  }
  >a{
    display: block;
    transition: 0.5s;
    border: 1px solid $blue;
    padding:  50px 20px;
    position: relative;
    height: 100%;
    span{
      transition: 0.5s;
      top: -20px;
      position: absolute;
      font-size: 30px;
      background-color: #F3F3F3;
      padding: 0 10px;
    }
    h3{
      transition: 0.5s;
      font-size: 26px;
    }
  }
  &:hover{
    >a{
      transition: 0.5s;
      border: 1px solid $primary;
      span{
        transition: 0.5s;
        color: $primary;
      }
    }
    h3{
      transition: 0.5s;
      color: $primary;
    }
  }
  @media (min-width: 992px) and (max-width: 1439.98px) {
    >a{
      span{
        transition: 0.5s;
        top: -20px;
        position: absolute;
        font-size: 28px;
        padding: 0 10px;
      }
      h3{
        font-size: 24px;
      }
    }
  }
  @media (max-width: 991.98px) {
    width: calc(50% - 10px);
    &:nth-child(odd){
      margin-right: 10px;
    }
    &:nth-child(even){
      margin-left: 10px;
    }
    >a{
      display: block;
      transition: 0.5s;
      padding:  40px 16px;
      position: relative;
      span{
        transition: 0.5s;
        top: -20px;
        position: absolute;
        font-size: 30px;
        padding: 0 10px;
      }
      h3{
        font-size: 20px;
      }
    }
  }
}

.ri-news{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $blue;
  flex: 1;
  ul{
    list-style: none;
    padding-left: 0;
  }
}
.ri-news__list{
  transform: scaleX(1);
  transform-origin: bottom right;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $blue;
  .ri-a{
    display: flex;
    justify-content: space-between;
  }
  p{
    font-size: 24px;
    display: flex;
    font-weight: 300;
    margin-bottom: 0;
    .date{
      flex-shrink: 0;
      font-style: italic;
      margin-right: 20px;
    }
  }
  &:hover{
    color: $primary;
    border-bottom: 1px solid $primary;
    transition: 0.5s;
    transform: scaleX(1.05);
    transform-origin: bottom right;
    .ri-more__link{
      color: $primary;
    }
  }
  @media (max-width: 1199.98px) {
    p{
      font-size: 16px;
    }
    .ri-more{
      display: none;
    }
  }
  @media (max-width: 767.98px) {
      p{
        font-size: 14px;
      }
    &:hover{
      transform: scaleX(1);
    }
  }
}
.ri-line{
  border-left: 1px solid $blue;
  margin: 0 100px;
  @media (min-width: 1200px) and (max-width: 1439.98px){
    margin: 0 60px;
  }
  @media (max-width: 1199.98px){
    margin: 0 40px;
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}
.ri-more{
  color: $blue;;
  display: inline-block;
  margin-top: 0;
  margin-right: 3px;
}
.ri-more__link{
  color: $blue;;
  &:hover{
    color: $primary;
    text-decoration:none;
    &::after{
      transition: 0.4s;
      width: 100px;
    }
  }
}
</style>
