<template>
  <div class="ri-carousel">
<!--    <div class="ri-carousel__text container">-->
<!--      <div class="">-->
<!--        <h2>國家地震中心</h2>-->
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>-->
<!--        <button class="ri-button ri-button&#45;&#45;white">-->
<!--          {{ $t('global.viewDetail') }}-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
    <b-carousel
      id="carousel-1"
      v-model="slide"
      fade
      indicators
      background="#e6e9ed"
    >
      <b-carousel-slide v-for="(carouselItem, index) in carousel" :key="carouselItem.Title+index" :img-src="carouselItem.URL" :img-alt="carouselItem.Alt">
        <div class="">
          <h2 v-html="carouselItem.LanguageData[$i18n.locale].Title" />
          <p>{{carouselItem.LanguageData[$i18n.locale].Content }}</p>
          <a v-show="carouselItem.LanguageData[$i18n.locale].Link" :href="carouselItem.LanguageData[$i18n.locale].Link" class="ri-button ri-button--white">
            {{ $t('global.viewDetail') }}
          </a>
        </div>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  props: {
    carousel: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      slide: 0,
      sliding: null
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";

// *{
//   outline: 1px solid red;
// }
.ri-carousel {
  position: relative;
}

// bootstrap
.ri-carousel {
  .carousel-item {
    height: calc(100vh - 99px);

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    @media (min-width: 992px) and (max-width: 1439.98px) {
      height: calc(100vh - 69px);
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      height: calc(100vh - 66px);
      max-height: calc(100vh - 223px);
    }
    @media (max-width: 767.98px) {
      height: 800px;
      max-height: calc(100vh - 304px);
    }
  }

  .carousel-caption {
    position: absolute;
    z-index: 98;
    width: calc(100% - 60px);
    height: 100%;
    left: 50%;
    right: initial;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: left;

    > div {
      // max-width: 800px;
      margin-left: 100px;
      margin-right: 100px;

      h2 {
        font-size: 40px;
        margin-bottom: 24px;
      }

      p {
        color: #DBDBDB;
        font-size: 32px;
        margin-bottom: 56px;
      }
    }

    @media (min-width: 1440px) and (max-width: 1599.98px) {
      > div {
        margin-right: 80px;
        margin-left: 80px;
        h2 {
          font-size: 80px;
          margin-bottom: 20px;
        }

        p {
          font-size: 24px;
          margin-bottom: 52px;
        }
      }
    }
    @media (min-width: 1200px) and (max-width: 1439.98px) {
      > div {
        margin-right: 60px;
        margin-left: 60px;
        h2 {
          font-size: 60px;
        }
        p {
          font-size: 20px;
          margin-bottom: 40px;
        }
      }
    }
    //第一次
    @media (min-width: 992px) and (max-width: 1199.98px) {
      > div {
        margin-right: 40px;
        margin-left: 40px;
        h2 {
          font-size: 50px;
        }
        p {
          font-size: 20px;
          margin-bottom: 40px;
        }
      }
    }
    //第二次
    @media (min-width: 768px) and (max-width: 991.98px) {
      > div {
        margin-right: 40px;
        margin-left: 40px;

        h2 {
          font-size: 40px;
        }

        p {
          font-size: 18px;
          margin-bottom: 40px;
        }
      }
    }
    //第二次
    @media (max-width: 767.98px) {
      text-align: center;
      > div {
        margin: 0 auto;
        h2 {
          font-size: 28px;
          margin-bottom: 16px;
        }

        p {
          font-size: 16px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &.active {
      background-color: $primary;
    }

    @media (max-width: 767.98px) {
      width: 10px;
      height: 10px;
    }
  }
}
</style>
