<template>
  <div class="ri-customer ri-section">
    <div class="container">
      <h2 class="ri-mainTitle">
        <span>{{ $t('index.customerTitle') }}</span>
      </h2>
      <client-only>
        <ul data-aos="zoom-out" class="ri-customer__group row">
          <li v-for="carousel in carouselBottom" :key="carousel.URL" class="col-4 col-md-3 col-xl-2">
            <div class="ri-customer__group__img">
              <img :src="carousel.URL" :alt="carousel.Alt" :title="carousel.Title">
            </div>
          </li>
        </ul>
        <template slot="placeholder">
          <ul class="ri-customer__group row">
            <li v-for="(carousel, index) in carouselBottom" :key="index" class="col-4 col-md-3 col-xl-2">
              <div class="ri-customer__group__img">
                <img :src="carousel.URL" :alt="carousel.Alt" :title="carousel.Title">
              </div>
            </li>
          </ul>
        </template>
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    carouselBottom: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";

// *{
//   outline: 1px solid red;
// }
.ri-customer{
  background-color: #FFFFFF;
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  @media (max-width: 767.98px) {
    ul{
      flex-wrap: wrap;
    }
  }
}
.ri-customer__group__img{
  position: relative;
  padding-bottom: 75%;
  height: 0px;
  overflow: hidden;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
