<template>
  <div class="ri-download ri-section">
    <div class="container">
      <div class="ri-download__group">
        <h2 class="ri-mainTitle">
          <span>{{ $t('navigation.download') }}</span>
        </h2>
        <ul>
          <li class="ri-download__group__list">
            <nuxt-link class="ri-a" :to="localePath('/downloadSystemMenu')">
              <span class="p">
                {{ $t('download.downloadSystemMenu.name') }}
              </span>
              <span class="ri-more">
                <span class="ri-more__link">
                  {{ $t('global.more') }}
                </span>
              </span>
            </nuxt-link>
          </li>
          <li class="ri-download__group__list">
            <nuxt-link class="ri-a" :to="localePath('/downloadTestData')">
              <span class="p">
                {{ $t('download.downloadTestData.name') }}
              </span>
              <span class="ri-more">
                <span class="ri-more__link">
                  {{ $t('global.more') }}
                </span>
              </span>
            </nuxt-link>
          </li>
          <li class="ri-download__group__list">
            <nuxt-link class="ri-a" :to="localePath('/downloadDetect')">
              <span class="p">
                {{ $t('download.downloadDetect.name') }}
              </span>
              <span class="ri-more">
                <span class="ri-more__link">
                  {{ $t('global.more') }}
                </span>
              </span>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";

.ri-download{
  background-color: #F3F3F3;
  @media (max-width: 1199.98px){
    padding-bottom: 60px;
  }
}
.ri-mainTitle{
  text-align: left;
  color: $blue;
  margin-bottom: 0;
  span{
    border-color: $blue;
  }
  @media (max-width: 767.98px) {
    text-align: center;
    margin-bottom: 40px;
  }
}
.ri-download__group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue;
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  @media (max-width: 767.98px) {
    display: block;
    ul{
      display: block;
    }
  }
}

.ri-download__group__list{
  transform: scaleX(1);
  transform-origin: bottom right;
  margin-left: 100px;
  padding-bottom: 5px;
  border-bottom: 1px solid $blue;
  .ri-a{
    display: flex;
    justify-content: space-between;
  }
  .p{
    font-size: 24px;
    display: flex;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 40px;
    .date{
      flex-shrink: 0;
      font-style: italic;
      margin-right: 20px;
    }
  }
  &:hover{
    color: $primary;
    border-bottom: 1px solid $primary;
    transition: 0.5s;
    transform: scaleX(1.05);
    transform-origin: bottom right;
    .ri-more__link{
      color: $primary;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    margin-left: 60px;
    .p{
      font-size: 16px;
      margin-right: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    margin-left: 40px;
    .p{
      font-size: 16px;
      margin-right: 10px;
    }
    .ri-more__link{
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    margin-left: 0px;
    margin-bottom: 20px;
    .p{
      font-size: 14px;
      margin-right: 10px;
    }
    &:hover{
      transform: scaleX(1);
    }
  }
}

.ri-more{
  color: $blue;
  display: inline-block;
  margin-top: 0;
  margin-right: 3px;
}
.ri-more__link{
  color: $blue;
  &:hover{
    color: $primary;
    text-decoration:none;
    &::after{
      transition: 0.4s;
      width: 100px;
    }
  }
}
</style>
