<template>
  <div class="ri-field ri-section">
    <div class="container">
      <h2 class="ri-mainTitle">
        <span>{{ $t('index.fieldCaseTitle') }}</span>
      </h2>
      <div class="ri-field-description">
        <p class="text-center">
          P-Waver Already Provided Earthquake Early Warning Systems For
        </p>
        <ul>
          <li><span>High-Tech Plant : 7</span></li>
          <li><span>Science Park : 2</span></li>
          <li><span>Taiwan High Speed Rail : 1</span></li>
          <li><span>Campus : 3500</span></li>
          <li><span>Hospital : 2</span></li>
        </ul>
      </div>
      <client-only>
        <ul>
          <li v-for="(data, index) in $store.state.GlobalArticleData.fieldCase" :key="index" :data-aos-delay="(index%3)*200" data-aos="fade-up-right" class="ri-field__card">
            <a
              class="js-fancybox ri-about__video__facy ri-a"
              :data-caption="(data.LanguageData[$i18n.locale].Name || data.Name)"
              data-fancybox="gallery"
              :href="(data.LanguageData[$i18n.locale].Cover || data.Cover)"
            >
              <div class="ri-field__card__img">
                <img :src="(data.LanguageData[$i18n.locale].Cover || data.Cover)" :alt="(data.LanguageData[$i18n.locale].Name || data.Name)">
                <div class="ri-search">
                  <div class="ri-search__bg" />
                  <b-icon class="ri-search__search" icon="search" aria-hidden="true" />
                </div>
              </div>
              <div class="ri-field__card__text">
                <h3>
                  {{ (data.LanguageData[$i18n.locale].Name || data.Name) }}
                </h3>
              </div>
            </a>
          </li>
        </ul>
        <template slot="placeholder">
          <ul>
            <li v-for="(data, index) in $store.state.GlobalArticleData.fieldCase" :key="index" :data-aos-delay="(index%3)*200" data-aos="fade-up-right" class="ri-field__card">
              <a
                class="js-fancybox ri-about__video__facy ri-a"
                :data-caption="(data.LanguageData[$i18n.locale].Name || data.Name)"
                data-fancybox="gallery"
                :href="(data.LanguageData[$i18n.locale].Cover || data.Cover)"
              >
                <div class="ri-field__card__img">
                  <img :src="(data.LanguageData[$i18n.locale].Cover || data.Cover)" :alt="(data.LanguageData[$i18n.locale].Name || data.Name)">
                  <div class="ri-search">
                    <div class="ri-search__bg" />
                    <b-icon class="ri-search__search" icon="search" aria-hidden="true" />
                  </div>
                </div>
                <div class="ri-field__card__text">
                  <h3>
                    {{ (data.LanguageData[$i18n.locale].Name || data.Name) }}
                  </h3>
                </div>
              </a>
            </li>
          </ul>
        </template>
      </client-only>
      <div class="ri-field-videoBox">
        <div class="">
          <iframe
            src="https://www.youtube.com/embed/0UTSXGSY4X0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fieldCaseTitle: {
      type: Object,
      default: () => ({})
    },
    allFieldCase: {
      type: Array,
      default: () => []
    }
  },
  mounted () {
    $('.js-fancybox').fancybox({
      infobar: false,
      buttons: ['close']
    })
  }
}
</script>
<style lang="scss" scoped>
@import "@/assets/sass/module/var";

// *{
//   outline: 1px solid red;
// }
.ri-field{
  background-color: #F3F3F3;
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
  }
  @media (max-width: 767.98px) {
    ul{
      flex-wrap: wrap;
    }
  }
}
.ri-field-description{
  p{
    font-size: 30px;
    margin-bottom: 24px;
  }
  ul{
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 40px;
    justify-content: center;
    li{
      font-size: 24px;
      color: $primary;
      margin-right: 50px;
      &:last-child{
        margin-right: 0px;
      }
      span{
        color: $dark;
      }
    }
  }
  @media (max-width: 1199.98px) {
    ul li{
      font-size: 16px;
    }
  }
  @media (max-width: 767.98px) {
    p{
      font-size: 18px;
    }
    ul{
      display: block;
      text-align: left;
      li{
        font-size: 14px;
      }
    }
  }
}
.ri-field__card{
  width: calc(33% - 53px);
  border: 1px solid $gray-dark;
  background-color: #fff;
  box-shadow: $box-shadow;
  position: relative;
  margin-bottom: 60px;
  margin-right: 40px;
  margin-left: 40px;
  transition: 0.5s;
  &:hover{
    transition: 0.5s;
    border: 1px solid $primary;
    .ri-field__card__text{
      h3{
        transition: 0.5s;
        color: $primary;
      }
    }
    .ri-search{
      transition: 0.5s;
      opacity: 1;
    }
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  &:nth-child(3n){
    margin-right: 0px;
  }
  @media (max-width: 991.98px){
    width: calc(33% - 25px);
    margin-right: 20px;
    margin-left: 20px;
    &::after{
      right: -20px;
    }
  }
  @media (max-width: 767.98px) {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    &:nth-child(2n+1){
      margin-left: 0px;
    }
    &:nth-child(3n){
      margin-right: auto;
    }
    &:nth-child(2n){
      margin-right: 0px;
    }
  }
}
.ri-field__card__img{
  position: relative;
  padding-bottom: 75%;
  height: 0px;
  overflow: hidden;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ri-field-videoBox{
    max-width: 1000px;
    margin:  0 auto;
    div{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    }
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
.ri-search{
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  .ri-search__bg{
    width: 80px;
    height: 80px;
    background-color: $primary;
    opacity: 0.5;
    border-radius: 50%;
  }
  .ri-search__search{
    font-size: 30px;
    color: #fff;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
  }
  @media (max-width: 1199.98px){
    .ri-search__bg{
      width: 60px;
      height: 60px;
    }
    .ri-search__search{
      font-size: 22px;
    }
  }
  @media (max-width: 767.98px){
    .ri-search__bg{
      width: 40px;
      height: 40px;
    }
    .ri-search__search{
      font-size: 15px;
    }
  }
}
.ri-field__card__text{
  padding: 20px 40px;
  text-align: center;
  h3{
    transition: 0.5s;
    font-size: 26px;
    margin-bottom: 0px;
  }
  @media (min-width: 992px) and (max-width: 1439.98px) {
    h3{
      font-size: 24px;
    }
  }
  @media  (max-width: 991.98px){
    padding: 20px;
    h3{
      font-size: 20px;
    }
  }
  @media (max-width: 767.98px) {
    padding: 10px;
    h3{
      font-size: 16px;
    }
  }
}
</style>
