<template>
  <div class="ri-InformationData container">
    <ul>
      <li data-aos="fade-up">
        <h4>
          <client-only>
            <number
              ref="number1"
              :from="0"
              :to="2020"
              :duration="5"
            />
            <template slot="placeholder">
              <p class="d-none">
                2020
              </p>
            </template>
          </client-only>
        </h4>
        <p>Year Established</p>
      </li>
      <li data-aos="fade-up" data-aos-delay="200">
        <h4>
          <client-only>
            <number
              ref="number2"
              :from="0"
              :to="3000"
              :duration="5"
            />+
            <template slot="placeholder">
              <p class="d-none">
                3000 +
              </p>
            </template>
          </client-only>
        </h4>
        <p>Site Completed</p>
      </li>
      <li data-aos="fade-up" data-aos-delay="400">
        <h4>
          <client-only>
            <number
              ref="number3"
              :from="0"
              :to="9"
              :duration="5"
            />+
            <template slot="placeholder">
              <p class="d-none">
                9 +
              </p>
            </template>
          </client-only>
        </h4>
        <p>High Tech Industry</p>
      </li>
      <li data-aos="fade-up" data-aos-delay="600">
        <h4>
          <client-only>
            <number
              ref="number4"
              :from="0"
              :to="3"
              :duration="5"
            />+
            <template slot="placeholder">
              <p class="d-none">
                3 +
              </p>
            </template>
          </client-only>
        </h4>
        <p>Overseas Service</p>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  props: {
    allThreeD: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  mounted () {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      const t = document.documentElement.scrollTop || document.body.scrollTop
      if (t === 300) {
        this.playAnimation()
      }
    },
    playAnimation () {
      this.$refs.number1.play()
      this.$refs.number2.play()
      this.$refs.number3.play()
      this.$refs.number4.play()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-InformationData{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  ul{
    padding-left: 0px;
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    li{
      position: relative;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after{
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        right: 0px;
        top: 0px;
        border-left: 1px solid $gray;
      }
      &:last-child::after{
        display: none;
      }
    }
    h4{
      font-size: 60px;
    }
    p{
      margin-bottom: 0px;
      font-size: 24px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    padding: 80px 0;
    ul{
      li{
        padding: 0 60px;
      }
      h4{
        font-size: 40px;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    padding: 60px 0;
    ul{
      li{
        padding: 0 40px;
      }
      h4{
        font-size: 30px;
      }
      p{
        font-size: 16px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    padding: 40px 0;
    ul{
      li{
        padding: 0 20px;
      }
      h4{
        font-size: 30px;
      }
      p{
        font-size: 16px;
      }
    }
  }
  @media (max-width: 767.98px) {
    padding: 40px 16px;
    ul{
      flex-wrap: wrap;
      li{
        width: 50%;
        padding: 10px 20px;
        &:nth-child(2)::after{
          display: none;
        }
      }
      h4{
        font-size: 20px;
      }
      p{
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
</style>
