<template>
  <div class="ri-productAndServices ri-section">
    <div class="container">
      <h2 class="ri-mainTitle">
        <span>{{ $t('navigation.product') }}</span>
      </h2>
      <client-only>
        <ul data-aos="zoom-in">
          <li v-for="(data, index) in $store.state.GlobalArticleData.product" :key="index" class="ri-product__card">
            <nuxt-link class="ri-a" :to="localePath({name: `${data.Slug}`})">
              <div class="ri-product__card__img">
                <img :src="(data.LanguageData[$i18n.locale].Cover || data.Cover)" alt="">
              </div>
              <div class="ri-product__card__text">
                <h3 class="ri-subTitle">
                  {{ data.LanguageData[$i18n.locale].Name || data.Name }}
                </h3>
                <p>
                  {{ data.LanguageData[$i18n.locale].Introduction || data.Introduction }}
                </p>
                <a class="ri-more" href="javascript:;">
                  <span class="ri-more__link">
                    {{ $t('global.more') }}
                  </span>
                </a>
              </div>
            </nuxt-link>
          </li>
        </ul>
      </client-only>
      <template slot="placeholder">
        <ul class="d-none">
          <li v-for="(data, index) in $store.state.GlobalArticleData.product" :key="index" class="ri-product__card">
            <nuxt-link class="ri-a" :to="localePath({name: `${data.Slug}`})">
              <div class="ri-product__card__img">
                <img :src="(data.LanguageData[$i18n.locale].Cover || data.Cover)" alt="">
              </div>
              <div class="ri-product__card__text">
                <h3 class="ri-subTitle">
                  {{ data.LanguageData[$i18n.locale].Name || data.Name }}
                </h3>
                <p>
                  {{ data.LanguageData[$i18n.locale].Introduction || data.Introduction }}
                </p>
                <a class="ri-more" href="javascript:;">
                  <span class="ri-more__link">
                    {{ $t('global.more') }}
                  </span>
                </a>
              </div>
            </nuxt-link>
          </li>
        </ul>
      </template>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";

.ri-productAndServices{
  background-color: #FFFF;
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  @media (max-width: 767.98px) {
    ul{
      flex-wrap: wrap;
    }
  }
}
.ri-product__card{
  flex:1;
  position: relative;
  margin-right: 40px;
  margin-left: 40px;
  &:hover{
    p{
      color: $dark;
    }
    .ri-subTitle{
      transition: 0.5s;
      color: $primary;
    }
    .ri-more__link{
      color: $primary;
      text-decoration:none;
      &::after{
        transition: 0.5s;
        width: 90px;
      }
    }
  }
  &:first-child{
    margin-left: 0px;
  }
  &:last-child{
    margin-right: 0px;
    &::after{
      display: none;
    }
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    border-left: 1px solid #D6D6D6;
    height: 100%;
  }
  @media (max-width: 991.98px){
    margin-right: 20px;
    margin-left: 20px;
    &::after{
      right: -20px;
    }
  }
  @media (max-width: 767.98px) {
    flex: auto;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0px;
    }
    &::after{
      display: none;
    }
  }
}
.ri-product__card__img{
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 75%;
  height: 0px;
  overflow: hidden;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}
</style>
