/*共用元件*/

body,html{
    font-family: "Noto Sans TC", 微軟正黑體,  sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3D3D3D;
    padding-right: 0 !important;
    overflow-y: none!important;
    @media (max-width: 767.98px){
      font-size: 14px;
    }
}

input:-webkit-autofill,input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  background-color: #fff !important;
}

:focus {
  outline: none !important;
}

.pointer{
  outline: none;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.underline{
  text-decoration: underline;
}

.ol-upperAlpha{
  list-style-type: upper-alpha;
}
.ul-disc{
  list-style-type: disc;
}

img{
    max-width: 100%;
}
.innerImg img{
  width: 100%;
}

label{
  height: 30px;
}