$primary:       #00B3B6;
$dark:          #3D3D3D;
$info:          #36679C;
$gray-dark:     #707070;
$gray:          #D6D6D6;
$blue:          #395265;
$purple:        #546175;
$box-shadow: 0 3px 6px rgba(#000000, 0.2);


$secondary:     #ad7e46;
$three:         #7e6b5a;
$warning:       #F98817;

