<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <ClassTitle :class-title="ClassTitle" :language-title="LanguageTitle" :single-data="LanguageData" />
      <client-only>
        <div data-aos="fade-up" class="ri-newsPage">
          <div class="ri-newsPage__content">
            <h2 class="ri-subTitle ri-subTitle--content">
              {{ LanguageData.Name }}
              <span>{{ $dayjs(SingleData.CreateTime).format('YYYY-MM-DD') }}</span>
            </h2>
            <div>
              <template v-if="SingleData.EnableResponseContent === 1">
                <div class="d-none d-lg-block ck-content" v-html="LanguageData.ResponseData.Web.Content" />
                <div class="d-block d-lg-none ck-content" v-html="LanguageData.ResponseData.Mobile.Content" />
              </template>
              <template v-else-if="SingleData.EnableResponseContent === 0">
                <div class="ck-content" v-html="LanguageData.Content" />
              </template>
            </div>
            <div class="text-center">
              <nuxt-link class="ri-button" :to="localePath('/news')">
                回上一頁
              </nuxt-link>
            </div>
          </div>
        </div>
      </client-only>
      <template slot="placeholder">
        <div class="d-none ri-newsPage">
          <div class="ri-newsPage__content">
            <h2 class="ri-subTitle ri-subTitle--content">
              {{ LanguageData.Name }}
              <span>{{ $dayjs(LanguageData.CreateTime).format('YYYY-MM-DD') }}</span>
            </h2>
            <div>
              <template v-if="SingleData.EnableResponseContent === 1">
                <div class="d-none d-lg-block ck-content" v-html="LanguageData.ResponseData.Web.Content" />
                <div class="d-block d-lg-none ck-content" v-html="LanguageData.ResponseData.Mobile.Content" />
              </template>
              <template v-else-if="SingleData.EnableResponseContent === 0">
                <div class="ck-content" v-html="LanguageData.Content" />
              </template>
            </div>
            <div class="text-center">
              <nuxt-link class="ri-button" :to="localePath('/news')">
                回上一頁
              </nuxt-link>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'default',
  async asyncData ({ $axios, route, redirect, app }) {
    let LanguageTitle, LanguageData
    const ClassTitle = await $axios.post('/api/category', {
      Slug: 'news'
    }).then(({ data }) => {
      return data.Data
    }).catch(() => {
      redirect('/404')
    })
    const SingleData = await $axios.get('/api/article/detail/' + route.params.id).then(({ data }) => {
      if (data.Data === null) {
        return redirect('/404')
      }
      return data.Data
    }).catch(() => {
      redirect('/404')
    })

    if (app.i18n.locale && ClassTitle.LanguageData) {
      LanguageTitle = ClassTitle.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageTitle = ClassTitle
    }

   if (app.i18n.locale && SingleData.LanguageData) {
      LanguageData = SingleData.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageData = SingleData
    }

    return {
      ClassTitle,
      LanguageTitle,
      LanguageData,
      SingleData
    }
  },
  data () {
    return {
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.LanguageData.Name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageData.SEO.Description },
        { property: 'og:description', content: this.LanguageData.SEO.Description },
        { name: 'keywords', content: this.LanguageData.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageData.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageData.Cover}` },
        { property: 'og:type', content: 'article' }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-newsPage{
  margin-bottom: 100px;
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    margin-bottom: 80px;
  }
  @media (max-width: 1199.98px){
    margin-bottom: 60px;
  }
}

.ri-newsPage__content{
  border: 1px solid $dark;
  padding: 40px;
  .ri-subTitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span{
      font-weight: 400;
      font-size: 16px;
      color: $dark;
    }
  }
  img{
    width: 100%;
    margin-bottom: 16px;
  }
  .ri-button{
    margin-top: 40px;
  }
}
.ri-newsPage__team__card{
  width: calc(33% - 26.6px);
  margin-bottom: 40px;
  border: 1px solid $dark;
  margin-left: 20px;
  margin-right: 20px;
  &:nth-child(3n){
    margin-right: 0px;
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  @media (max-width: 1199.98px){
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-right: 20px;
    &:nth-child(3n){
      margin-right: 20px;
    }
    &:nth-child(3n+1){
      margin-left: 20px;
    }
    &:nth-child(2n+1){
      margin-left: 0px;
    }
    &:nth-child(2n){
      margin-right: 0px;
    }
  }
  @media (max-width: 767.98px) {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    &:nth-child(3n){
      margin-right: 0px;
    }
    &:nth-child(3n+1){
      margin-left: 0px;
    }
  }
  &:hover{
    border: 1px solid $primary;
    box-shadow: $box-shadow;
    transition: 0.4s;
    .ri-newsPage__team__card__text{
      .ri-newsPage__team__card__text__date{
        color: $primary;
      }
      .ri-subTitle{
        color: $primary;
      }
      .ri-more__link{
        color: $primary;
        text-decoration:none;
        &::after{
          transition: 0.4s;
        }
        &::before{
          transition: 0.4s;
        }
      }
    }
  }
}
.ri-newsPage__team__card__img{
  position: relative;
  padding-bottom: 75%;
  height: 0px;
  overflow: hidden;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ri-newsPage__team__card__text{
  padding: 40px;
  .ri-newsPage__team__card__text__date{
    display: block;
    font-style:italic;
  }
  p{
    margin-bottom: 0px;
  }
  @media (max-width: 767.98px) {
    padding: 20px;
  }
}
</style>
