<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <div class="d-none d-md-block ri-breadCrumb">
        <nuxt-link to="">
          {{ LanguageTitle.Name }}
        </nuxt-link>
      </div>
      <div class="d-block d-md-none ri-breadCrumb">
        <h2 class="ri-mainTitle">
          <span>{{ LanguageTitle.Name }}</span>
        </h2>
      </div>
      <client-only>
        <div data-aos="fade-up" class="ri-news">
          <ul>
            <li v-for="newsItem in Data" :key="newsItem.Name" class="ri-news__team__card">
              <nuxt-link class="ri-a" :to="localePath({name: 'news-id',params:{id: newsItem.Slug}})">
                <div class="ri-news__team__card__img">
                  <img :src="newsItem.Cover" :alt="newsItem.Name">
                </div>
                <div class="ri-news__team__card__text">
                  <span class="ri-news__team__card__text__date">
                    {{ $dayjs(newsItem.CreateTime).format('YYYY-MM-DD') }}
                  </span>
                  <h3 class="ri-subTitle">
                    {{ newsItem.LanguageData[$i18n.locale].Name || newsItem.Name}}
                  </h3>
                  <p>
                    {{ newsItem.LanguageData[$i18n.locale].Introduction || newsItem.Introduction}}
                  </p>
                  <a class="ri-more" href="javascript:;">
                    <span class="ri-more__link">
                      {{ $t('global.more') }}
                    </span>
                  </a>
                </div>
              </nuxt-link>
            </li>
          </ul>
          <b-pagination-nav
            v-model="Pagination.Page"
            class="ri-pagination"
            pills
            base-url="#"
            next-text="下一頁"
            prev-text="上一頁"
            first-number
            last-number
            :number-of-pages="Pagination.TotalPages"
            :per-page="Pagination.PerPage"
            @input="ChangePage"
          />
        </div>
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData ({ route, $axios, redirect, app }) {
    let LanguageTitle, LanguageData
    const ClassTitle = await $axios.post('/api/category', {
      Slug: 'news'
    }).then(({ data }) => {
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const List = await $axios.post('/api/article/list', {
      Categories: ['news'],
      Page: (route.query.page ? parseInt(route.query.page) : 1),
      PerPage: (route.query.perPage ? parseInt(route.query.perPage) : 6),
      Order: (route.query.order ? route.query.order : 'create_nto')
    }).then(({ data }) => {
      return { ...data }
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })

    if (app.i18n.locale && ClassTitle.LanguageData) {
      LanguageTitle = ClassTitle.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageTitle = ClassTitle
    }

    const everyPageLanguage = List.Data.every((item) => { return item.LanguageData }) // 確定都有多語系
    if (!everyPageLanguage) {
      console.error('有文章沒設定多語系')
    }

    if (app.i18n.locale && everyPageLanguage) {
      LanguageData = List.Data.map((item) => { return item.LanguageData[`${app.i18n.locale}`] })
    } else {
      LanguageData = List
    }
    console.log(List)

    return {
      LanguageTitle,
      LanguageData,
      ...List
    }
  },
  data () {
    return {
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.LanguageTitle.Name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageTitle.SEO.Description },
        { property: 'og:description', content: this.LanguageTitle.SEO.Description },
        { name: 'keywords', content: this.LanguageTitle.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageTitle.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageTitle.Cover}` }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    ChangePage () {
      this.$router.push({
        name: this.$route.name,
        query: {
          page: this.Pagination.Page,
          perPage: this.Pagination.PerPage,
          order: 'create_nto'
        }
      })
      return this.$axios.post('/api/article/list', {
        Categories: ['news'],
        Page: parseInt(this.Pagination.Page),
        PerPage: parseInt(this.Pagination.PerPage),
        Order: 'create_nto'
      }).then(({ data }) => {
        this.Data = data.Data
      })
    },
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-news{
  margin-bottom: 100px;
  > ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    margin-bottom: 80px;
  }
  @media (max-width: 1199.98px){
    margin-bottom: 60px;
  }
}

.ri-news__team__card{
  width: calc(33% - 26.6px);
  margin-bottom: 40px;
  border: 1px solid $dark;
  margin-left: 20px;
  margin-right: 20px;
  &:nth-child(3n){
    margin-right: 0px;
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  @media (max-width: 1199.98px){
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-right: 20px;
    &:nth-child(3n){
      margin-right: 20px;
    }
    &:nth-child(3n+1){
      margin-left: 20px;
    }
    &:nth-child(2n+1){
      margin-left: 0px;
    }
    &:nth-child(2n){
      margin-right: 0px;
    }
  }
  @media (max-width: 767.98px) {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    &:nth-child(3n){
      margin-right: 0px;
    }
    &:nth-child(3n+1){
      margin-left: 0px;
    }
  }
  &:hover{
    border: 1px solid $primary;
    box-shadow: $box-shadow;
    transition: 0.4s;
    .ri-news__team__card__text{
      p{
        color: $dark;
      }
      .ri-news__team__card__text__date{
        color: $primary;
      }
      .ri-subTitle{
        color: $primary;
      }
      .ri-more__link{
        color: $primary;
        text-decoration:none;
        &::after{
          transition: 0.4s;
          width: 100px;
        }
        &::before{
          transition: 0.4s;
        }
      }
    }
  }
}
.ri-news__team__card__img{
  position: relative;
  padding-bottom: 75%;
  height: 0px;
  overflow: hidden;
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ri-news__team__card__text{
  padding: 40px;
  .ri-news__team__card__text__date{
    display: block;
    font-style:italic;
  }
  p{
    font-size: 22px;
    margin-bottom: 0px;
  }
  @media (max-width: 1199.98px) {
    p{
      font-size: 16px;
    }
  }
  @media (max-width: 767.98px) {
    p{
      font-size: 14px;
    }
    padding: 20px;
  }
}
</style>
