<template>
  <section>
    <div class="container ">
      <div class="ri-layout">
        <div class="ri-alert alert alert-warning" role="alert">
          {{ error.message }} ({{ error.statusCode }})
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'error',
  props: ['error'], // you can set a custom layout for the error page
  meta: {
    label: '找不到頁面'
  },
  data () {
    return {
      ClassTitle: {
        Name: '找不到頁面'
      }
    }
  },
  mounted () {
    // // 載入歷史資料
    // this.$store.dispatch('pushToBrowserHistory')
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
// .material-icons{
//   font-size: 1.5rem;
// }
$primary: #96dbc4;
.container{
  min-height: calc(100vh - 423px);
}
.ri-alert{
  width: 100%;
  position: relative;
  margin: 70px auto;
  top: 0px;
  left: 0%;
  transform: translateX(0%);
}
.ri-layout{
  padding: 60px 0 40px;
}
.notFound .ri-classTitle__groupe__bread a:last-child{
  color: darken($primary,20%);
}

</style>
