<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <div class="d-none d-md-block ri-breadCrumb">
        <nuxt-link to="">
          {{ LanguageAboutTitle.Name }}
        </nuxt-link>
      </div>
      <div class="d-block d-md-none ri-breadCrumb">
        <h2 class="ri-mainTitle">
          <span>{{ LanguageAboutTitle.Name }}</span>
        </h2>
      </div>
    </div>
    <div class="ri-about">
      <!-- 團隊介紹開始 -->
      <div data-aos="zoom-in" class="ri-about__team container ri-container">
        <span id="ri-aboutUS-team" />
        <h2 class="ri-subTitle ri-subTitle--content">
          {{ LanguageTeamData.Name }}
        </h2>
        <div>
          <template v-if="TeamData.EnableResponseContent === 1">
            <div class="d-none d-lg-block" v-html="LanguageTeamData.ResponseData.Web.Content" />
            <div class="d-block d-lg-none" v-html="LanguageTeamData.ResponseData.Mobile.Content" />
          </template>
          <template v-else-if="TeamData.EnableResponseContent === 0">
            <div v-html="LanguageTeamData.Content" />
          </template>
        </div>
      </div>
      <!-- 團隊介紹結束 -->
      <!-- 服務項目開始 -->
      <div class="ri-about__service ri-section">
        <span id="ri-aboutUS-service" />
        <div data-aos="fade-up" class="container ri-container">
          <h2 class="ri-subTitle ri-subTitle--content">
            {{ LanguageServiceData.Name }}
          </h2>
          <div>
            <template v-if="ServiceData.EnableResponseContent === 1">
              <div class="d-none d-lg-block" v-html="LanguageServiceData.ResponseData.Web.Content" />
              <div class="d-block d-lg-none" v-html="LanguageServiceData.ResponseData.Mobile.Content" />
            </template>
            <template v-else-if="ServiceData.EnableResponseContent === 0">
              <div v-html="LanguageServiceData.Content" />
            </template>
          </div>
        </div>
      </div>
      <!-- 服務項目結束 -->
      <!-- 技術說明開始 -->
      <span id="ri-aboutUS-technology" />
      <!-- zoon-in 會影響錨點 -->
      <div data-aos="zoom-in" class="ri-about__technology ri-section container ri-container">
        <h2 class="ri-subTitle ri-subTitle--content">
          {{ LanguageTechnologyData.Name }}
        </h2>
        <!-- FIXME: 輪播圖無法放入HTML編輯器 -->
        <div>
          <template v-if="TechnologyData.EnableResponseContent === 1">
            <div class="d-none d-lg-block" v-html="LanguageTechnologyData.ResponseData.Web.Content" />
            <div class="d-block d-lg-none" v-html="LanguageTechnologyData.ResponseData.Mobile.Content" />
          </template>
          <template v-else-if="TechnologyData.EnableResponseContent === 0">
            <div v-html="LanguageTechnologyData.Content" />
          </template>
        </div>
      </div>
      <!-- 技術說明結束 -->
      <!-- 發展前景開始 -->
      <div class="ri-about__development ri-section">
        <span id="ri-aboutUS-development" />
        <div data-aos="fade-up" class="container ri-container">
          <h2 class="ri-subTitle ri-subTitle--content">
            {{ LanguageDevelopmentData.Name }}
          </h2>
          <div>
            <template v-if="DevelopmentData.EnableResponseContent === 1">
              <div class="d-none d-lg-block" v-html="DevelopmentData.LanguageDevelopmentData.Web.Content" />
              <div class="d-block d-lg-none" v-html="DevelopmentData.LanguageDevelopmentData.Mobile.Content" />
            </template>
            <template v-else-if="DevelopmentData.EnableResponseContent === 0">
              <div v-html="LanguageDevelopmentData.Content" />
            </template>
          </div>
        </div>
      </div>
      <!-- 發展前景結束 -->
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line import/no-named-as-default
import Swiper, { Autoplay, Navigation, Pagination } from 'swiper'
import 'swiper/swiper-bundle.css'

Swiper.use([Navigation, Pagination, Autoplay])

export default {
  name: 'AboutUS',
  layout: 'default',
  async asyncData ({ $axios, redirect, app }) {
    const AboutTitle = await $axios.post('/api/category', {
      Slug: 'aboutUS'
    }).then(({ data }) => {
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const TeamData = await $axios.get('/api/article/detail/aboutUS-team').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const ServiceData = await $axios.get('/api/article/detail/aboutUS-service').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const TechnologyData = await $axios.get('/api/article/detail/aboutUS-technology').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const DevelopmentData = await $axios.get('/api/article/detail/aboutUS-development').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })

    const LanguageAboutTitle = DetermineLanguage(AboutTitle)
    const LanguageTeamData = DetermineLanguage(TeamData)
    const LanguageServiceData = DetermineLanguage(ServiceData)
    const LanguageTechnologyData = DetermineLanguage(TechnologyData)
    const LanguageDevelopmentData = DetermineLanguage(DevelopmentData)

    function DetermineLanguage (obj) {
      if (app.i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${app.i18n.locale}`]
      } else {
        return obj
      }
    }

    return {
      TeamData,
      ServiceData,
      TechnologyData,
      DevelopmentData,
      LanguageAboutTitle,
      LanguageTeamData,
      LanguageServiceData,
      LanguageTechnologyData,
      LanguageDevelopmentData
    }
  },
  data () {
    return {
      slide: 0,
      sliding: null,
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.LanguageAboutTitle.Name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageAboutTitle.SEO.Description },
        { property: 'og:description', content: this.LanguageAboutTitle.SEO.Description },
        { name: 'keywords', content: this.LanguageAboutTitle.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageAboutTitle.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageAboutTitle.Cover}` }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
    const swiper = new Swiper('.swiper-container', {
      autoplay: {
        delay: 4000,
        disableOnInteraction: false
      },
      pagination: {
        el: '.swiper-pagination'
      }
    })

    const swiper2 = new Swiper('.swiper-container2', {
      autoplay: {
        delay: 4000,
        disableOnInteraction: false
      },
      pagination: {
        el: '.swiper-pagination'
      }
    })
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";

#ri-aboutUS-service, #ri-aboutUS-technology, #ri-aboutUS-development{
  position: relative;
  top: -140px;
}
//團隊介紹
.ri-about__team{
  margin-bottom: 100px;
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  @media(min-width: 1200px) and (max-width: 1439.98px){
    margin-bottom: 80px;
  }
  @media (max-width: 1199.98px){
    margin-bottom: 40px;
    ul{
      flex-wrap: wrap;
    }
  }
}
.ri-about__team__card{
  flex: 1;
  position: relative;
  margin-right: 40px;
  margin-left: 40px;
  &::after{
    content: "";
    right: -40px;
    top: 0px;
    height: 100%;
    display: block;
    position: absolute;
    border-left: 1px solid $gray;
  }
  &:first-child{
    margin-left: 0px;
  }
  &:nth-child(2n){
    display: flex;
    flex-direction: column;
    .ri-about__team__card__img{
      order: 1;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }
  &:nth-child(4n){
    margin-right: 0px;
    &::after{
      display: none;
    }
  }
}
.ri-about__team__card__img{
  margin-bottom: 40px;
}
.ri-jobTitle{
  color: rgb(129, 129, 129);
  font-size: 14px;
}

// 服務項目
.ri-about__service{
  background-color: #F3F3F3;
  .ri-subTitle{
    color: $blue;
  }
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
}
.ri-about__service__card{
  width: calc(33.33% - 40px);
  margin-bottom: 40px;
  color: #fff;
  border: 1px solid #fff;
  padding: 40px;
  margin-left: 30px;
  margin-right: 30px;
  p{
    margin-bottom: 0px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:nth-child(3n){
    margin-right: 0px;
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  @media (max-width: 1199.98px){
    margin-left: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
    &:nth-child(3n){
      margin-right: 20px;
    }
    &:nth-child(3n+1){
      margin-left: 20px;
    }
    &:nth-child(2n){
      margin-right: 0px;
    }
    &:nth-child(2n+1){
      margin-left: 0px;
    }
  }
  @media (max-width: 767.98px) {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 10px);
    &:nth-child(3n){
      margin-right: 10px;
    }
    &:nth-child(3n+1){
      margin-left: 10px;
    }
    &:nth-child(2n){
      margin-right: 0px;
    }
    &:nth-child(2n+1){
      margin-left: 0px;
    }
  }
}

//技術說明
.ri-about__technology{
  ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
}
.ri-about__technology__card{
  width: calc(33.33% - 53.33px);
  position: relative;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  &::after{
    content: "";
    right: -40px;
    top: 0px;
    height: 100%;
    display: block;
    position: absolute;
    border-left: 1px solid $gray;
  }
  &:first-child{
    margin-left: 0px;
  }
  &:nth-child(3n){
    margin-right: 0px;
    &::after{
      display: none;
    }
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  @media (max-width: 1199.98px){
    width: calc(50% - 40px);
    &:nth-child(3n){
      margin-right: 40px;
      &::after{
        display: block;
      }
    }
    &:nth-child(3n+1){
      margin-left: 40px;
    }
    &:nth-child(2n+1){
      margin-left: 0px;
    }
    &:nth-child(2n){
      margin-right: 0px;
      &::after{
        display: none;
      }
    }
  }
  @media (max-width: 767.98px) {
    width: 100%;
    &::after{
      display: none !important;
    }
    &:nth-child(2n+1){
      margin-right: 0px;
    }
    &:nth-child(2n){
      margin-left: 0px;
    }
  }
}
.ri-about__technology__card__img{
  margin-bottom: 40px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

// 發展前景
.ri-about__development{
  background-color: #F3F3F3;
  .ri-subTitle{
    color: $blue;
  }
  @media (max-width: 1199.98px){
    padding-bottom: 60px;
  }
}
.ri-about__development__timeline{
  padding-left: 0px;
  margin-bottom: 0px;
}
.ri-about__development__timeline__card {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: transparent;
  &::after{
    content: "";
    position: absolute;
    bottom: -40px;
    left: 2px;
    height: calc(100% - 125px + 40px);
    border-left: 1px dotted rgba(#fff, 0.3);
  }
  &:last-child{
    &::after{
      display: none;
    }
    .ri-about__development__timeline__card__text{
      margin-bottom: 0px;
    }
  }
  .ri-about__development__timeline__card__icon{
    color: #fff;
    position: absolute;
    background-color: rgba(#fff, 0.3);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 50%;
    left: -60px;
    top: 0px;
    &::after{
      content: "";
      position: absolute;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      left: 50%;
      top: 50%;
      border: 2px solid rgba(#fff, 0.3);
      border-radius: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .ri-about__development__timeline__card__text{
    margin-bottom: 40px;
    position: relative;
    bottom: 0;
    width: 400px;
    color: #fff;
    left: 160px;
    .ri-subTitle{
      border-bottom: none;
      padding-bottom: 0px;
      margin-bottom: 16px;
    }
    p{
      margin-bottom: 0;
    }
  }
  &:nth-child(2n){
    .ri-about__development__timeline__card__text{
      left: -560px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    .ri-about__development__timeline__card__text{
      margin-bottom: 40px;
      position: relative;
      bottom: 0;
      width: 450px;
      color: #fff;
      left: 100px;
    }
    &:nth-child(2n){
      .ri-about__development__timeline__card__text{
        left: -550px;
      }
    }
  }
  @media (max-width: 1199.98px){
    &::after{
      content: "";
      position: absolute;
      bottom: -40px;
      left: 2px;
      height: calc(100% - 85px + 40px);
      border-left: 1px dotted rgba(#fff, 0.3);
    }
    .ri-about__development__timeline__card__icon{
      width: 80px;
      height: 80px;
      font-size: 40px;
      left: -40px;
      top: 0px;
    }
    .ri-about__development__timeline__card__text{
      margin-bottom: 40px;
      position: relative;
      bottom: 0;
      width: 350px;
      color: #fff;
      left: 80px;
    }
    &:nth-child(2n){
      .ri-about__development__timeline__card__text{
        left: -430px;
      }
    }
  }
  @media (max-width: 991.98px){
    width: auto;
    margin-left: 45px;
    .ri-about__development__timeline__card__text{
      width: calc(100% - 80px);
    }
    &:nth-child(2n){
      .ri-about__development__timeline__card__text{
        left: 80px;
      }
  }
  }
}

// bootstrap
.ri-about__team__carousel{
  margin-bottom: 40px;
  .carousel-item > img{
    height: 0px;
  }
  .carousel-caption{
    position: relative;
    left: 0px;
    right: 0px;
  }
  .carousel-indicators{
    margin-bottom: 0px;
    li{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color:  $dark;
      &.active{
        background-color: $primary;
      }
      @media (max-width: 767.98px) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
.ri-about__team__carousel__group{
  display: flex;
}
.ri-about__team__carousel__group__img{
  margin-right: 20px;
}
.ri-about__team__carousel__group__text{
  color: $dark;
  text-align: left;
}

.ri-about__technology__carousel{
  margin-bottom: 0px;
  .carousel-item > img{
    height: 0px;
  }
  .carousel-caption{
    position: relative;
    left: 0px;
    right: 0px;
  }
  .carousel-indicators{
    margin-bottom: 0px;
    li{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color:  $dark;
      &.active{
        background-color: $primary;
      }
      @media (max-width: 767.98px) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
.ri-about__technology__carousel__group__img{
  margin-bottom: 20px;
}
.ri-about__technology__carousel__group__text{
  color: $dark;
  text-align: left;
}

// 套件
.swiper-container,.swiper-container2 {
  padding-bottom: 40px;
  overflow: hidden;
}
.swiper-pagination {
  position: absolute;
  bottom: 0px;
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:  $dark;
      @media (max-width: 991.98px) {
        width: 10px;
        height: 10px;
      }
  }
  .swiper-pagination-bullet-active{
    background-color: $primary;
  }
}
</style>

<style lang="scss">
// *{
//   outline: 1px solid red;
// }
#__layout{
  overflow: hidden;
}
.anchor{
  position: relative;
  top: -90px;
}

.loading-page {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  transition: 0.5s;
  opacity: 1;
}

.loading-page--opacity{
  opacity: 0;
  transition: 0.5s;
}
.load-wrapp{
  position: relative;
  top: 200px;
}
.load-word{
  color: #00B3B6;
  display: flex;
  justify-content: center;
  align-items: center;
  // & .letter {
  //   animation-name: loading;
  //   animation-duration: 1.6s;
  //   animation-iteration-count: infinite;
  //   animation-direction: linear;
  // }
  .l-1 {
    animation-delay: 0.48s;
  }
  .l-2 {
    animation-delay: 0.6s;
  }
  .l-3 {
    animation-delay: 0.72s;
  }
  .l-4 {
    animation-delay: 0.84s;
  }
  .l-5 {
    animation-delay: 0.96s;
  }
  .l-6 {
    animation-delay: 1.08s;
  }
  .l-7 {
    animation-delay: 1.2s;
  }
  .l-8 {
    animation-delay: 1.32s;
  }
  .l-9 {
    animation-delay: 1.44s;
  }
  .l-10 {
    animation-delay: 1.56s;
  }
}
.load-circle{
  border: 4px solid #00B3B6;
  margin-bottom: 10px;
  border-right-color: transparent;
}
</style>
