<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <div class="d-none d-md-block ri-breadCrumb">
        <nuxt-link to="">
          {{ $t('contact.title') }}
        </nuxt-link>
      </div>
      <div class="d-block d-md-none ri-breadCrumb">
        <h2 class="ri-mainTitle">
          <span>{{ $t('contact.title') }}</span>
        </h2>
      </div>
    </div>
    <div>
      <!-- 服務項目開始 -->
      <div class="ri-contact ri-section">
        <span id="ri-contact" />
        <div class="container ri-container">
          <div class="row">
            <div data-aos="fade-right" class="col-12 col-md-6">
              <h2 class="ri-subTitle ri-subTitle--content">
                {{ $t('contact.title') }}
              </h2>
              <!-- 右側表單開始 -->
              <ValidationObserver ref="form" v-slot="{ handleSubmit }">
                <b-form class="ri-contact__form" @submit.prevent="handleSubmit(onSubmit)">
                  <div class="row">
                    <div class="col-12">
                      <div class="ri-contact__form__group">
                        <validation-provider
                          v-slot="validationContext"
                          :name="$t('contact.formPlaceholder.name')"
                          rules="required"
                        >
                          <b-form-input
                            id="input-1"
                            v-model="form.name"
                            type="text"
                            autocomplete="off"
                            :state="getValidationState(validationContext)"
                          />
                          <label for="input-1">{{ $t('contact.formPlaceholder.name') }}</label>
                          <b-form-invalid-feedback class="px-2">
                            {{ validationContext.errors[0] }}
                          </b-form-invalid-feedback>
                        </validation-provider>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="ri-contact__form__group">
                        <validation-provider
                          v-slot="validationContext"
                          :name="$t('contact.formPlaceholder.email')"
                          rules="required|email"
                        >
                          <b-form-input
                            id="input-3"
                            v-model="form.email"
                            type="email"
                            autocomplete="off"
                            :state="getValidationState(validationContext)"
                          />
                          <label for="input-3">{{ $t('contact.formPlaceholder.email') }}</label>
                          <b-form-invalid-feedback class="px-2">
                            {{ validationContext.errors[0] }}
                          </b-form-invalid-feedback>
                        </validation-provider>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="ri-contact__form__group">
                        <validation-provider
                          v-slot="validationContext"
                          :name="$t('contact.formPlaceholder.phone')"
                          rules="required"
                        >
                          <b-form-input
                            id="input-2"
                            v-model="form.phone"
                            type="tel"
                            autocomplete="off"
                            :state="getValidationState(validationContext)"
                          />
                          <label for="input-2">{{ $t('contact.formPlaceholder.phone') }}</label>
                          <b-form-invalid-feedback class="px-2">
                            {{ validationContext.errors[0] }}
                          </b-form-invalid-feedback>
                        </validation-provider>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <div class="ri-contact__form__group">
                        <b-form-textarea
                          id="input-7"
                          v-model="form.message"
                          rows="3"
                          autocomplete="off"
                          :placeholder="$t('contact.formPlaceholder.message')"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text-center text-md-right mt-5">
                    <button
                      type="submit"
                      :class="[disableButton? 'ri-button ri-button--disable':'ri-button ri-button--blue']"
                    >
                      {{ $t('contact.formPlaceholder.send') }}
                    </button>
                  </div>
                </b-form>
              </ValidationObserver>
              <!-- 右側表單結束 -->
            </div>
            <div data-aos="fade-left" class="col-12 col-md-6">
              <div class="d-none d-md-block ri-contact__content__map">
                <iframe
                            :src="'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q='+ $store.state.Contact.Address +'&z=16&output=embed&t='"
                  width="600"
                  height="450"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block d-md-none ri-contact__content__map">
        <iframe
          :src="'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q='+ $store.state.Contact.Address +'&z=16&output=embed&t='"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        />
      </div>
      <!-- 服務項目結束 -->
    </div>
    <b-alert :show="alert" :variant="alertType" class="ri-alert">
      {{ alertMessage }}
    </b-alert>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, localize } from 'vee-validate'
export default {
  name: 'Contact',
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        message: ''
      },
      disableButton: false,
      alert: false,
      alertType: 'danger',
      alertMessage: '',
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.$t('contact.title')} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.Meta.Description },
        { property: 'og:description', content: this.Meta.Description },
        { name: 'keywords', content: this.Meta.Keywords },
        { property: 'og:title', content: `${this.$t('contact.title')} | ${this.Meta.Title}` },
        { property: 'og:type', content: 'article' }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    localize(this.$i18n.locale)
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    alertHandler (message, type, time = 2000) {
      this.alert = true
      this.alertType = type
      this.alertMessage = message
      setTimeout(() => {
        this.alert = false
      }, time)
      return Promise.resolve()
    },
    getValidationState ({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null
    },
    onSubmit () {
      this.disableButton = true
      this.alertHandler(this.$t('global.messages.process'), 'info', 5000)
      return this.$axios.request({
        method: 'post',
        url: '/api/message/notify/mail',
        headers: {
          'Content-Type': 'application/json'
        },
        data: {
          ...this.form,
          token: this.token
        }
      }).then(() => {
        this.alertHandler(this.$t('global.messages.sendMailSuccess'), 'success', 5000)
        this.form = {
          name: '',
          email: '',
          phone: '',
          message: ''
        }
        this.$refs.form.reset()
        this.disableButton = false
      }).catch((e) => {
        console.log(e)
        this.alertHandler(this.$t('global.messages.sendMailError'), 'danger', 5000)
      })
    },
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/module/var";

#ri-about__team, #ri-about__service, #ri-about__technology, #ri-about__development{
  position: relative;
  top: -140px;
}

// 服務項目
.ri-contact{
  background-color: #F3F3F3;
  .ri-subTitle{
    color: $blue;
    margin-bottom: 0px;
  }
}

// 右側表單
.ri-contact__form__group{
  position: relative;
  padding-top: 40px;
  label{
    color: $blue;
    position: absolute;
    top: 40px;
    left: 0px;
    height: 1.5rem;
    transition: 0.4s;
    padding: 0 5px;
    font-size: 24px;
    @media (max-width: 1199.98px) {
      top: 46px;
      font-size: 16px;
    }
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }
  input.form-control{
    color: $blue;
    min-height: 40px;
    padding-left: 80px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid $blue;
    background-color: transparent;
    &:focus{
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $primary;
      & + label{
      color: $primary;
      background-color: transparent;
      transition: 0.4s;
      }
    }
  }
  textarea.form-control{
    padding: 16px;
    color: $blue;
    border-radius: 0px;
    border: none;
    border: 1px solid $blue;
    background-color: transparent;
    &::placeholder{
      color: $blue;
      font-size: 24px;
      @media (max-width: 1199.98px) {
        font-size: 16px;
      }
      @media (max-width: 767.98px) {
        font-size: 14px;
      }
    }
    &:focus{
      box-shadow: none;
      border: 1px solid $primary;
      &::placeholder{
        color: $primary;
      }
    }
  }
  .invalid-feedback{
    font-size: 18px;
    bottom: -30px;
    position: absolute;
    color: #dd5765;
    padding-left: 5px !important;
    @media (max-width: 1199.98px) {
      font-size: 16px;
    }
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }
  .is-invalid, .is-valid{
    background-image: none;
  }
}
.ri-aboutUS__form__button{
  font-weight: bold;
  font-size: 1.125rem;
  padding: 14px auto;
  border-radius: 15px;
  width: 100%;
}

.ri-contact__content__map{
  background-color: rgb(192, 192, 192);
  position: relative;
  height: 100%;
  iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (max-width: 767.98px) {
    height: 400px;
  }
}
// 驗證跳警告
.ri-alert{
  width: 50%;
  text-align: center;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @media (max-width: 575.98px){
    width: 80%;
  }
}
@media (max-width: 767.98px){
  .ri-alert{
    top: 85px;
  }
}
</style>
