<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <ClassTitle :class-title="ClassTitle" :language-title="LanguageTitle" :single-data="$t('download.downloadDetect')" />
      <client-only>
        <div data-aos="fade-up" class="ri-download">
          <h2 class="ri-subTitle ri-subTitle--content">
            {{ $t('download.downloadDetect.name') }}
          </h2>
          <ul>
            <li v-for="listItem in LanguageData" :key="listItem.Name" class="ri-download__card__list">
              <h3 class="ri-subTitle">
                {{ listItem.Name }}
              </h3>
              <button class="ri-button" @click="Download(listItem.Attachment)">
                {{ $t('download.button') }}
              </button>
            </li>
          </ul>
          <b-pagination-nav
            v-model="Pagination.Page"
            class="ri-pagination"
            pills
            base-url="#"
            :next-text="page.next"
            :prev-text="page.prev"
            first-number
            last-number
            :number-of-pages="Pagination.TotalPages"
            :per-page="Pagination.PerPage"
            @input="ChangePage"
          />
        </div>
      </client-only>
      <template slot="placeholder">
        <div class="d-none ri-download">
          <h2 class="ri-subTitle ri-subTitle--content">
            {{ $t('download.downloadDetect.Name') }}
          </h2>
          <ul>
            <li v-for="listItem in LanguageData" :key="listItem.Name" class="ri-download__card__list">
              <h3 class="ri-subTitle">
                {{ listItem.Name }}
              </h3>
              <button class="ri-button" @click="Download(listItem.Attachment)">
                {{ $t('download.button') }}
              </button>
            </li>
          </ul>
          <b-pagination-nav
            v-model="Pagination.Page"
            class="ri-pagination"
            pills
            base-url="#"
            :next-text="page.next"
            :prev-text="page.prev"
            first-number
            last-number
            :number-of-pages="Pagination.TotalPages"
            :per-page="Pagination.PerPage"
            @input="ChangePage"
          />
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData ({ route, $axios, redirect, app }) {
    let LanguageTitle, LanguageData
    const ClassTitle = await $axios.post('/api/category', {
      Slug: 'download'
    }).then(({ data }) => {
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const List = await $axios.post('/api/article/list', {
      Categories: ['download'],
      Tags: '偵測儀器介紹',
      Page: (route.query.page ? parseInt(route.query.page) : 1),
      PerPage: (route.query.perPage ? parseInt(route.query.perPage) : 10),
      Order: (route.query.order ? route.query.order : 'sort_asc')
    }).then(({ data }) => {
      return { ...data }
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })

    if (app.i18n.locale && ClassTitle.LanguageData) {
      LanguageTitle = ClassTitle.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageTitle = ClassTitle
    }

    const everyPageLanguage = List.Data.every((item) => { return item.LanguageData }) // 確定都有多語系
    if (!everyPageLanguage) {
      console.error('有文章沒設定多語系')
    }

    if (app.i18n.locale && everyPageLanguage) {
      LanguageData = List.Data.map((item) => { return item.LanguageData[`${app.i18n.locale}`] })
    } else {
      LanguageData = List
    }

    return {
      ClassTitle,
      LanguageTitle,
      LanguageData,
      ...List
    }
  },
  data () {
    return {
      downLoad: '下載',
      page: {
        prev: '上一頁',
        next: '下一頁'
      },
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.$i18n.messages[this.$i18n.locale].download.downloadDetect.name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageTitle.SEO.Description },
        { property: 'og:description', content: this.LanguageTitle.SEO.Description },
        { name: 'keywords', content: this.LanguageTitle.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageTitle.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageTitle.Cover}` }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    switch (this.$i18n.locale) {
      case 'ja-jp':
        this.page = {
          prev: '前へ',
          next: '次へ'
        }
        break
      case 'en-us':
        this.page = {
          prev: 'prev',
          next: 'next'
        }
        break
      default:
        this.page = {
          prev: '上一頁',
          next: '下一頁'
        }
    }
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    ChangePage () {
      this.$router.push({
        name: this.$route.name,
        query: {
          page: this.Pagination.Page,
          perPage: this.Pagination.PerPage,
          order: 'sort_asc'
        }
      })
      return this.$axios.post('/api/article/list', {
        Categories: ['menu'],
        Tags: '偵測儀器介紹',
        Page: parseInt(this.Pagination.Page),
        PerPage: parseInt(this.Pagination.PerPage),
        Order: 'sort_asc'
      }).then(({ data }) => {
        this.Data = data.Data
      })
    },
    Download (attachment) {
      window.open(attachment, 'Download Manual')
    },
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-download{
  margin-bottom: 100px;
  > ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    margin-bottom: 80px;
  }
  @media (max-width: 1199.98px){
    margin-bottom: 60px;
  }
}

.ri-download__card__list{
  margin-bottom: 20px;
  border: 1px solid $dark;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ri-subTitle{
    margin-bottom: 0;
    padding-bottom: 0px;
    border-bottom: 0;
  }
  &:hover{
    border: 1px solid $primary;
    color: $primary;
    .ri-button{
      color: #FFF;
      border: 1px solid $primary;
      background-color: $primary;
    }
  }
  @media (max-width: 767.98px) {
    display: block;
    text-align: center;
    .ri-subTitle{
      margin-bottom: 20px;
    }
  }
}
</style>
