<template>
  <div class="ri-layout">
    <div>
      <Loading :loading="loading" />
      <Banner :carousel="Carousel" />
      <InformationData />
      <!-- <span id="ThreeDSpace" class="anchor" />
      <ThreeDSpace /> -->
      <AboutAndNews />
      <span id="ProductAndServices" class="anchor" />
      <ProductAndServices />
      <FieldCase />
      <Customer :carousel-bottom="CarouselBottom" />
      <span id="Download" class="anchor" />
      <Download />
    </div>
  </div>
</template>

<script>
import { request } from '@/plugins/axios'

export default {
  name: 'Index',
  components: {
    Loading: () => import('@/components/Loading'),
    Banner: () => import('@/components/index/Banner'),
    InformationData: () => import('@/components/index/InformationData'),
    // ThreeDSpace: () => import('@/components/index/ThreeDSpace'),
    AboutAndNews: () => import('@/components/index/AboutAndNews'),
    ProductAndServices: () => import('@/components/index/ProductAndServices'),
    FieldCase: () => import('@/components/index/FieldCase'),
    Customer: () => import('@/components/index/Customer'),
    Download: () => import('@/components/index/Download')
  },
  layout: 'default',
  async asyncData ({ store, redirect }) {
    let Carousel, CarouselBottom
    const GetCarousel = request.get('/api/themes/carousel').then(({ data }) => {
      Carousel = data.Carousel
      CarouselBottom = data.CarouselBottom
      return { Carousel, CarouselBottom }
    }).catch((error) => {
      throw error
    })
    await Promise.all([
      GetCarousel,
      store.dispatch('LoadGlobalArticleData', { categories: 'aboutUS', order: 'sort_asc' }),
      store.dispatch('LoadGlobalArticleData', { categories: 'product', order: 'sort_asc' }),
      store.dispatch('LoadGlobalArticleData', { categories: 'news', order: 'create_nto' }),
      // store.dispatch('LoadGlobalArticleData', { categories: 'threeD' }),
      store.dispatch('LoadGlobalArticleData', { categories: 'fieldCase', order: 'sort_asc' })
    ]).catch(() => {
      redirect('/error')
    })

    return {
      Carousel,
      CarouselBottom
    }
  },
  data () {
    return {
      loading: true,
      Carousel: [],
      CarouselBottom: [],
      Meta: {
        Title: '衛波科技股份有限公司 P-Waver'
      }
    }
  },
  head () {
    return {
      title: `${this.$t('index.title')} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.Meta.Description },
        { property: 'og:description', content: this.Meta.Description },
        { name: 'keywords', content: this.Meta.Keywords },
        { property: 'og:title', content: `${this.$t('index.title')} | ${this.Meta.Title}` },
        { property: 'og:type', content: 'article' }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.$store.state.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
    this.loading = false
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss">
// *{
//   outline: 1px solid red;
// }
#__layout{
  overflow: hidden;
}
.anchor{
  position: relative;
  top: -90px;
}
</style>
