<template>
  <div class="ri-layout">
    <div class="container ri-container">
      <ClassTitle :class-title="ClassTitle" :language-title="LanguageTitle" :single-data="LanguageData" />
      <div>
        <client-only>
          <div data-aos="fade-up" class="ri-productFront">
            <div class="ri-productFront__content">
              <h2 class="ri-subTitle ri-subTitle--content">
                {{ LanguageData.Name }}
              </h2>
              <div>
                <template v-if="SingleData.EnableResponseContent === 1">
                  <div class="d-none d-lg-block ck-content" v-html="LanguageData.ResponseData.Web.Content" />
                  <div class="d-block d-lg-none ck-content" v-html="LanguageData.ResponseData.Mobile.Content" />
                </template>
                <template v-else-if="SingleData.EnableResponseContent === 0">
                  <div class="ck-content" v-html="LanguageData.Content" />
                </template>
              </div>
            </div>
          </div>
        </client-only>
        <div class="d-none ri-productFront">
          <div class="ri-productFront__content">
            <h2 class="ri-subTitle ri-subTitle--content">
              {{ LanguageData.Name }}
            </h2>
            <div>
              <template v-if="SingleData.EnableResponseContent === 1">
                <div class="d-none d-lg-block ck-content" v-html="LanguageData.ResponseData.Web.Content" />
                <div class="d-block d-lg-none ck-content" v-html="LanguageData.ResponseData.Mobile.Content" />
              </template>
              <template v-else-if="SingleData.EnableResponseContent === 0">
                <div clsss="ck-content" v-html="LanguageData.Content" />
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AOS from 'aos'
export default {
  async asyncData ({ $axios, redirect, app }) {
    let LanguageTitle, LanguageData
    const ClassTitle = await $axios.post('/api/category', {
      Slug: 'product'
    }).then(({ data }) => {
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const SingleData = await $axios.get('/api/article/detail/productBefore').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })

    if (app.i18n.locale && ClassTitle.LanguageData) {
      LanguageTitle = ClassTitle.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageTitle = ClassTitle
    }

   if (app.i18n.locale && SingleData.LanguageData) {
      LanguageData = SingleData.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageData = SingleData
    }

    return {
      ClassTitle,
      LanguageTitle,
      LanguageData,
      SingleData
    }
  },
  data () {
    return {
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.LanguageData.Name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageTitle.SEO.Description },
        { property: 'og:description', content: this.LanguageTitle.SEO.Description },
        { name: 'keywords', content: this.LanguageTitle.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageTitle.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageTitle.Cover}` },
        { property: 'og:type', content: 'article' }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/sass/module/var";
// *{
//   outline: 1px solid red;
// }
.ri-productFront{
  margin-bottom: 100px;
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    margin-bottom: 80px;
  }
  @media (max-width: 1199.98px){
    margin-bottom: 60px;
  }
}

.ri-productFront__content{
  .ri-subTitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span{
      font-weight: 400;
      font-size: 16px;
      color: $dark;
    }
  }
  .ri-button{
    margin-top: 40px;
  }
}
.ri-productFront__content__card{
  margin-bottom: 40px;
  @media (max-width: 991.98px){
    margin-bottom: 0px;
  }
}
.ri-important{
  margin-bottom: 20px;
}
.ri-productFront__content__card__img{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 991.98px){
    margin-bottom: 20px;
    img{
      position: relative;
      height: auto;
    }
  }
}

.ri-productFront__content__card__listGroup{
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.ri-productFront__content__card__listGroup__list{
  width: calc(33.33% - 40px);
  margin-bottom: 40px;
  border: 1px solid $dark;
  padding: 40px;
  margin-left: 30px;
  margin-right: 30px;
  p{
    margin-bottom: 0px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:nth-child(3n){
    margin-right: 0px;
  }
  &:nth-child(3n+1){
    margin-left: 0px;
  }
  @media (max-width: 1199.98px){
    width: calc(33.33% - 26.666px);
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
  @media (max-width: 767.98px) {
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
}
</style>
