<template>
  <div class="ri-layout">
    <ClassTitle :class-title="ClassTitle" :language-title="LanguageTitle" :single-data="LanguageData" />
    <ThreeDInner :single-data="SingleData" :language-data="LanguageData" />
  </div>
</template>

<script>
export default {
  async asyncData ({ $axios, redirect, app }) {
    let LanguageTitle, LanguageData
    const ClassTitle = await $axios.post('/api/category', {
      Slug: 'threeD'
    }).then(({ data }) => {
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })
    const SingleData = await $axios.get('/api/article/detail/threeDSpace').then(({ data }) => {
      if (data.Data === null) {
        return redirect('/error')
      }
      return data.Data
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(JSON.stringify(error))
      redirect('/error')
    })

    if (app.i18n.locale && ClassTitle.LanguageData) {
      LanguageTitle = ClassTitle.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageTitle = ClassTitle
    }

   if (app.i18n.locale && SingleData.LanguageData) {
      LanguageData = SingleData.LanguageData[`${app.i18n.locale}`]
    } else {
      LanguageData = SingleData
    }

    return {
      ClassTitle,
      LanguageTitle,
      LanguageData,
      SingleData
    }
  },
  data () {
    return {
      Meta: {
        Title: 'P-Waver 國家地震中心'
      }
    }
  },
  head () {
    return {
      title: `${this.LanguageData.Name} | ${this.Meta.Title}`,
      meta: [
        { hid: 'description', name: 'description', content: this.LanguageData.SEO.Description },
        { property: 'og:description', content: this.LanguageData.SEO.Description },
        { name: 'keywords', content: this.LanguageData.SEO.Keywords },
        { property: 'og:title', content: `${this.LanguageData.Name} | ${this.Meta.Title}` },
        { property: 'og:image', content: `${this.LanguageData.Cover}` },
        { property: 'og:type', content: 'article' }
      ]
    }
  },
  watch: {
    '$i18n.locale' (newVal) {
      this.Meta = this.DetermineLanguage(this.Meta)
    }
  },
  mounted () {
    this.Meta = this.DetermineLanguage(this.$store.state.Meta)
  },
  methods: {
    DetermineLanguage (obj) {
      if (this.$i18n.locale && obj.LanguageData) {
        return obj.LanguageData[`${this.$i18n.locale}`]
      } else {
        return obj
      }
    }
  }
}
</script>
