@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yakwrl');
  src:  url('fonts/icomoon.eot?yakwrl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yakwrl') format('truetype'),
    url('fonts/icomoon.woff?yakwrl') format('woff'),
    url('fonts/icomoon.svg?yakwrl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-solid:before {
  content: "\e900";
}
.icon-Group-669:before {
  content: "\e901";
}
.icon-Menu:before {
  content: "\e902";
}
.icon-Menu-1:before {
  content: "\e903";
}
.icon-users-solid:before {
  content: "\e904";
}
.icon-vest-patches-solid:before {
  content: "\e905";
}
.icon-web:before {
  content: "\e906";
}
.icon-wrench-solid:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
